<template>
  <div class="flex flex_align-center inputb-wrapper">
    <input v-model="value" :placeholder="placeholder" class="input">
    <div class="form-btn" @click="handleClick">Отправить</div>
  </div>
</template>

<script>
import './style.scss'

export default {
	name: 'InputB',
	props: ['handleClick', 'placeholder'],
	data() {
		return {
			value: '',
		}
	},
}
</script>
