@font-face {
	font-family: 'Source Sans Pro';
	src: url('/static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
		format('truetype');
}

.inputb-wrapper {
	border: 1px solid #fff;
	max-width: 500px;
	border-radius: 5px 0px 0px 5px;
	.input {
		width: 70%;
		height: 45px;
		line-height: 40px;
		font-family: 'Source Sans Pro';
		font-style: normal;
		font-weight: normal;
		line-height: normal;
		font-size: 14px;
		padding: 0 10px;
		box-sizing: border-box;
		color: #fff;
		border: none;
		background-color: transparent;
		&::-webkit-input-placeholder {
			color: #fff;
		}
	}

	.form-btn {
		padding: 0 10px;
		background: #fff;
		width: 30%;
		height: 45px;
		line-height: 45px;
		box-sizing: border-box;
		text-align: center;
		font-size: 14px;
		color: #616262;
		cursor: pointer;

		-webkit-transition: background-color 0.1s ease-out, color 0.2s ease-in;
		-moz-transition: background-color 0.1s ease-out, color 0.2s ease-in;
		-o-transition: background-color 0.1s ease-out, color 0.2s ease-in;
		transition: background-color 0.1s ease-out, color 0.2s ease-in;

		&:hover {
			color: #ffffff;
			background-color: #616262;
		}
	}
}
