.map {
	height: 420px;

	.ymap {
		height: 100%;

		.ymaps-2-1-72-map {
			height: 100% !important;
		}
	}
}

.ymaps-2-1-72- {
	&_checked {
		background: #149778 !important;

		.ymaps-2-1-72-float-button-text {
			color: #ffffff !important;
		}

		.park-button {
			background-image: url('/static/icons/icons_gs_blank/park_white.svg') !important;
		}
		.bank-button {
			background-image: url('/static/icons/icons_gs_blank/bank_white.svg') !important;
		}
		.beauty-button {
			background-image: url('/static/icons/icons_gs_blank/beauty_white.svg') !important;
		}
		.educat-button {
			background-image: url('/static/icons/icons_gs_blank/educat_white.svg') !important;
		}
		.entertain-button {
			background-image: url('/static/icons/icons_gs_blank/entertain_white.svg') !important;
		}
		.med-button {
			background-image: url('/static/icons/icons_gs_blank/med_white.svg') !important;
		}
		.religion-button {
			background-image: url('/static/icons/icons_gs_blank/religion_white.svg') !important;
		}
		.rest-button {
			background-image: url('/static/icons/icons_gs_blank/rest_white.svg') !important;
		}
		.shops-button {
			background-image: url('/static/icons/icons_gs_blank/shops_white.svg') !important;
		}
		.sports-button {
			background-image: url('/static/icons/icons_gs_blank/sports_white.svg') !important;
		}
	}
}

.ymaps-2-1-72-float-button {
	max-width: 250px !important;
	height: 34px !important;
	margin-bottom: 5px;

	&:hover {
		background: rgba(20, 151, 120, 0.3);
	}
}

.ymaps-2-1-72-controls__toolbar_left {
	.ymaps-2-1-72-float-button-icon {
		width: 25px !important;
		height: 25px !important;
		border: 4px solid rgba(0, 0, 0, 0) !important;
	}
}

.ymaps-2-1-72-float-button-text {
	line-height: 34px !important;
	padding-left: 10px !important;
}
