<template>
  <div class="slider-page1">
    <div class="slider">
      <v-carousel hide-controls hide-delimiters :interval="interval" v-model="activeCarouselIndex">
        <v-carousel-item class="slide-item" v-for="(item, index) in slider" :key="index">
          <div class="slide-text">
            <div class="slide-title">{{item.title}}</div>
            <div class="slide-paragraph">{{item.text}}</div>
            <svgPicture class="slide-svg" :name="item.svgImage" :value="activeCarouselIndex"></svgPicture>
          </div>
        </v-carousel-item>
      </v-carousel>
      <div class="pagination">
        <div>
          <div
            v-for="(item, index) in slider.length"
            :key="index"
            class="pagination-line"
            @click="slideToIndex(index)"
          >
            <div
              :class="activeCarouselIndex == index ? activeClass : ''"
              class="pagination-line_progress"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import svgPicture from './SvgPicture'

export default {
	components: {
		svgPicture,
	},
	data() {
		return {
			activeCarouselIndex: 0,
			interval: '5000',
			activeClass: 'activeIndexAnimate',
			slider: [
				{
					title: 'Контроль',
					text: `Процесс застройки контролировала команда высококвалифицированных инженеров из России.
                        Это 100% гарантия того, что здание возведено в строгом соответствии со всеми стандартами
                        качества и безопасности.`,
					svgImage: 'svg-control',
				},
				{
					title: 'Сейсмостойкость',
					text: `Благодаря прочному фундаменту и железобетонной конструкции, жилой комплекс «Горное Солнце»,
				                обладает сейсмостойкостью в 9 баллов. Подтверждено результатами проверки!`,
					svgImage: 'svg-seismic',
				},
				{
					title: 'Надежность',
					text: `В строительстве стен применялся современный, максимально практичный материал –
				                полистиролбетон. У него высокие показатели несущих характеристик, теплоизоляции,
				                огнезащиты, шумопоглощения и морозоустойчивости.`,
					svgImage: 'svg-reliability',
				},
				{
					title: 'Экотехнологии',
					text: `В квартирах комплекса установлены низкоэмиссионные стеклопакеты – i-стекло.
				                Это - высокая светопропускаемость, прозрачность и теплоизоляция.
				                Вы будете под защитой от вредных излучений, а в квартире дольше сохранится комфортная температура.`,
					svgImage: 'svg-ecotech',
				},
			],
		}
	},
	methods: {
		slideToIndex(index) {
			// this.interval = 0;
			// this.activeClass = 'activeIndex';
			this.activeCarouselIndex = index
		},
	},
}
</script>
<style>
/* Don't delete */
.v-window-x-transition-leave,
.v-window-x-reverse-transition-leave,
.v-window-y-transition-leave,
.v-window-y-reverse-transition-leave,
.v-window-x-transition-leave-to,
.v-window-x-reverse-transition-leave-to,
.v-window-y-transition-leave-to,
.v-window-y-reverse-transition-leave-to {
	position: absolute !important;
	top: 0;
	width: 100%;
}
/* ------------------------ */

.v-responsive__content {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-left: 65px;
}
.slider-page1 {
	margin: 0 auto;
	/* max-width: 1700px; */
	height: 500px;
	color: #fff;
	text-align: left;
}
.slider {
	position: relative;
	background-color: #149778;
	height: 100%;
}
/* Slide item */
.slide-text {
	height: 420px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.slide-title {
	font-size: 3rem;
	margin-bottom: 40px;
}
.slide-paragraph {
	width: 882px;
}
.slide-svg div svg {
	position: absolute;
	right: 10%;
	top: calc((100% - 300px) / 2);
}
/* Pagination */
.pagination {
	position: absolute;
	left: 80px;
	bottom: 90px;
}
.pagination div {
	display: flex;
	margin-right: 5px;
}
.activeIndex {
	background-color: #2c2b2d;
	width: 100% !important;
}
.activeIndexAnimate {
	background-color: #2c2b2d;
	animation: progressAnimation 5s linear infinite;
}
.pagination-line {
	background-color: #fff;
	width: 65px;
	height: 2px;
	z-index: 999;
	cursor: pointer;
	position: relative;
}
.pagination-line_progress {
	background-color: #2c2b2d;
	height: 3px;
	position: absolute;
	left: 0;
	width: 0%;
}
@keyframes progressAnimation {
	to {
		width: 100%;
	}
}
/* Media */
@media only screen /* Mobile */ and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.v-responsive__content {
		margin-left: 25px;
	}

	.slider-page1 {
		position: absolute;
		left: 0;
		width: 100%;
		height: 450px;
	}
	.slide-text {
		height: 540px;
	}
	.slide-title {
		font-size: 1.875rem;
		left: 30px;
		top: 180px;
	}
	.slide-paragraph {
		font-size: 0.875rem;
		left: 30px;
		top: 245px;
		width: 236px;
	}
	.slide-svg div svg {
		left: 30px;
		top: 40px;
		width: 107px;
		height: 115px;
	}
	.pagination {
		left: 30px;
		bottom: 20px;
	}
	.pagination-line {
		width: 30px;
	}
}
@media only screen /* => Mobile */ and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
	.slider-page1 {
		position: absolute;
		left: 0;
		width: 100%;
		height: 400px;
	}
	.slide-text {
		height: 400px;
	}
	.slide-title {
		font-size: 1.875rem;
		left: 50px;
		top: 100px;
	}
	.slide-paragraph {
		font-size: 0.875rem;
		left: 50px;
		top: 200px;
		width: 330px;
	}
	.slide-svg div svg {
		right: 50px;
		top: 120px;
		width: 200px;
		height: 200px;
	}
	.pagination {
		left: 50px;
		bottom: 20px;
	}
	.pagination-line {
		width: 30px;
	}
}
@media screen /* Tablet */ and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
	.slider-page1 {
		position: absolute;
		left: 0;
		width: 100%;
		height: 500px;
	}
	.slide-title {
		left: 65px;
		top: 100px;
	}
	.slide-paragraph {
		left: 65px;
		top: 183px;
		width: 370px;
	}
	.slide-svg div svg {
		right: 50px;
		top: 163px;
		width: 204px;
		height: 220px;
	}
	.pagination {
		left: 65px;
		bottom: 20px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1376px) and (-webkit-min-device-pixel-ratio: 1) {
	.slider-page1 {
		position: absolute;
		left: 0;
		width: 100%;
		height: 500px;
	}
	.slide-paragraph {
		width: 700px;
	}
	.slide-svg div svg {
		right: 4%;
	}
}
@media screen /* => Tablet */ and (min-width: 1376px) and (max-width: 1919px) and (-webkit-min-device-pixel-ratio: 1) {
	.slider-page1 {
		/* position: absolute;
			left: 0; */
		margin: 0 auto;
		width: 1310px;
		height: 500px;
	}
	.slide-title {
		left: 80px;
		top: 100px;
	}
	.slide-paragraph {
		left: 80px;
		top: 183px;
		width: 600px;
	}
	.slide-svg div svg {
		right: 200px;
		top: 120px;
		width: 300px;
		height: 300px;
	}
	.pagination {
		left: 80px;
		bottom: 40px;
	}
}
</style>