<template>
  <div>
    <space :handleClick="handleClickFromSpace"/>
    <div id="flats"></div>
    <layoutsForm
      v-if="show_entrance_details"
      :activeEntranceParent="activeCurEntrance"
      :handleEntrance="handleClick"
      :handleActiveFloor="handleActiveFloor"
      :handleActiveFlat="handleActiveFlat"
      :area="apArea"
      :rooms="apRoomNumber"
      :apartments="apartments"
      :isSold="isSold"
      :currentFlat="currentFlat"
    />
    <div class="album-box" :id="hasId ? 'layouts' : ''">
      <div
        class="album relative full-height"
        data-aos="fade-in"
        data-aos-delay="100"
        data-aos-duration="500"
        data-aos-easing="ease-in-out"
      >
        <div class="myAlbum">
          <a href="#flats" v-smooth-scroll="{ duration: 1000, offset: -50}">
            <div
              v-for="(item, i) in entrances"
              :key="i"
              :class="`entrance absolute flex flex_center ${item.class}`"
              @click="handleClick(item.entrance_number - 1)"
            >
              {{item.entrance_number}}
              <div v-if="item.hasTooltip" :class="`tooltip absolute ${item.tooltip_class}`">
                <div class="paragraph paragraph_dark">{{item.entrance}}</div>
                <hr>
                <table>
                  <tr>
                    <th>Комнаты</th>
                    <th>Кол-во</th>
                    <th>Площадь</th>
                  </tr>
                  <tr v-for="(table_item, i) in item.data" :key="i">
                    <td>{{table_item.rooms}}</td>
                    <td>{{table_item.count}}</td>
                    <td>{{table_item.area}}</td>
                  </tr>
                </table>
              </div>
            </div>
          </a>
        </div>
        <div id="callback" class="absolute flex form-box">
          <div class="form-img">
            <img src="/static/images/form_img.png" alt>
          </div>
          <div class="form-wrapper bg_light-gray">
            <div class="margin-top_m margin-left_xs">
              <div
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                class="title title_dark title_m"
              >Форма заявки</div>
              <div
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                class="paragpraph parapgraph_light paragraph_normal margin-top_xxs paragraph_s"
              >Хотите узнать стоимость?</div>
              <div
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                class="paragpraph parapgraph_light paragraph_normal paragraph_s"
              >Отправьте заявку, и мы сразу позвоним!</div>
              <div
                class="form flex flex_wrap"
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >
                <div class="relative">
                  <input
                    type="text"
                    name="name"
                    :class="`input input_l ${emptyName ? 'errorInput' : ''}`"
                    v-model="name"
                    placeholder="Ваше имя"
                  >
                  <span
                    for="name"
                    :class="`error-span ${emptyName ? 'visible-span' : ''}`"
                  >Это обязательное поле</span>
                </div>
                <div class="relative">
                  <input
                    name="email"
                    type="text"
                    :class="`input input_s ${incorrectEmail ? 'errorInput' : ''}`"
                    v-model="email"
                    placeholder="Email"
                  >
                  <span
                    for="email"
                    :class="`error-span ${incorrectEmail ? 'visible-span' : ''}`"
                  >Неправильный формат email</span>
                </div>
                <div class="relative">
                  <input
                    name="phone"
                    type="text"
                    :class="`input input_l ${incorrectPhone ? 'errorInput' : ''}`"
                    v-model="phone"
                    placeholder="+ 7"
                  >
                  <span
                    for="phone"
                    :class="`error-span ${incorrectPhone ? 'visible-span' : ''}`"
                  >Неправильный номер телефона</span>
                </div>
                <div class="form-btn flex flex_align-center" @click="handleSubmit">
                  Отправить
                  <img src="/static/icons/arrow.png" class="icon" alt>
                </div>
                <div class="radio-group flex">
                  <div class="flex radio-item">
                    <input type="radio" name="time" id="radio1" v-model="time" value="am">
                    <label for="radio1">с 10:00 до 13:00</label>
                  </div>
                  <div class="flex radio-item">
                    <input type="radio" name="time" id="radio2" v-model="time" value="md">
                    <label for="radio2">с 13:00 до 17:00</label>
                  </div>
                  <div class="flex radio-item">
                    <input type="radio" name="time" id="radio3" v-model="time" value="pm">
                    <label for="radio3">С 17:00 до 20:00</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import './album.scss'
import Space from '../space/Space.vue'
import layoutsForm from './layoutsForm/LayoutsForm.vue'
import Catalog from './catalog.js'

export default {
	name: 'Album',
	components: {Space, layoutsForm},
	props: ['hasId'],
	data() {
		return {
			apArea: 0,
			apRoomNumber: 0,
			isSold: false,
			incorrectEmail: false,
			incorrectPhone: false,
			emptyName: false,
			name: '',
			email: '',
			phone: '',
			time: 'am',
			activeEntrance: 0,
			activeFloor: 1,
			activeFlat: 1,
			activeCurEntrance: 0,
			entrances: [
				{
					entrance: '1 подъезд',
					entrance_number: 1,
					hasTooltip: true,
					class: 'entrance_1',
					data: [
						{
							rooms: 2,
							count: 14,
							area: '73.60 - 100.10',
						},
						{
							rooms: 3,
							count: 5,
							area: '93.30 - 104.90',
						},
						{
							rooms: 4,
							count: 1,
							area: '126.30',
						},
					],
				},
				{
					entrance: '2 подъезд',
					hasTooltip: true,
					entrance_number: 2,
					class: 'entrance_2',
					data: [
						{
							rooms: 1,
							count: 4,
							area: '30.70 - 32.00',
						},
						{
							rooms: 2,
							count: 13,
							area: '75.90 - 101.10',
						},
						{
							rooms: 1,
							count: 4,
							area: '99.30 - 100.10',
						},
					],
				},
				{
					entrance: '3 подъезд',
					hasTooltip: true,
					entrance_number: 3,
					class: 'entrance_3',
					data: [
						{
							rooms: 1,
							count: 4,
							area: '29.70 - 31.30',
						},
						{
							rooms: 2,
							count: 12,
							area: '82.80 - 95.70',
						},
						{
							rooms: 3,
							count: 4,
							area: '85.30 - 93.50',
						},
					],
				},
				{
					entrance: '4 подъезд',
					hasTooltip: true,
					entrance_number: 4,
					class: 'entrance_4',
					data: [
						{
							rooms: 1,
							count: 4,
							area: '31.70 - 32.20',
						},
						{
							rooms: 2,
							count: 9,
							area: '75.10 - 93.10',
						},
						{
							rooms: 3,
							count: 7,
							area: '95.40 - 119.50',
						},
					],
				},
				{
					entrance: '5 подъезд',
					hasTooltip: true,
					entrance_number: 5,
					class: 'entrance_5',
					tooltip_class: 'tooltip_to-left',
					data: [
						{
							rooms: 1,
							count: 4,
							area: '31.90 - 32.20',
						},
						{
							rooms: 2,
							count: 9,
							area: '75.60 - 93.30',
						},
						{
							rooms: 3,
							count: 7,
							area: '94.60 - 107.90',
						},
					],
				},
				{
					entrance: '6 подъезд',
					hasTooltip: true,
					entrance_number: 6,
					class: 'entrance_6',
					tooltip_class: 'tooltip_to-left',
					data: [
						{
							rooms: 1,
							count: '-',
							area: '-',
						},
						{
							rooms: 2,
							count: 13,
							area: '68.60 - 86.00',
						},
						{
							rooms: 3,
							count: 7,
							area: '94.60 - 107.90',
						},
					],
				},
				{
					entrance: '7 подъезд',
					hasTooltip: true,
					entrance_number: 7,
					class: 'entrance_7',
					tooltip_class: 'tooltip_to-left',
					data: [
						{
							rooms: 1,
							count: '-',
							area: '-',
						},
						{
							rooms: 2,
							count: 12,
							area: '66 .30 - 79.30',
						},
						{
							rooms: 3,
							count: 7,
							area: '94.60 - 127.30',
						},
					],
				},
				{
					entrance_number: 'P',
					class: 'entrance_P1',
				},
				{
					entrance_number: 'P',
					class: 'entrance_P2',
				},
			],
			show_entrance_details: false,
			flatHandled: -1,
			apartments: [],
		}
	},
	watch: {
		activeEntrance: function(val, oldVal) {
			if (val || val === 0) {
				this.activeCurEntrance = val
			}
		},
	},
	mounted() {
		Catalog.getApartments().then(res => {
			this.apartments = res.apartments
		})
	},
	methods: {
		handleClick(item) {
			this.activeCurEntrance = item
			this.activeEntrance = item
			this.$data.show_entrance_details = true
			Catalog.getApartmentInfo(this.currentFlat).then(res => {
				this.apArea = res.apartmentByNumber.apArea
				this.apRoomNumber = res.apartmentByNumber.apRoomNumber
				this.isSold = res.apartmentByNumber.apIsSold
			})
		},
		handleActiveFloor(item) {
			this.activeFloor = item
			Catalog.getApartmentInfo(this.currentFlat).then(res => {
				this.apArea = res.apartmentByNumber.apArea
				this.apRoomNumber = res.apartmentByNumber.apRoomNumber
				this.isSold = res.apartmentByNumber.apIsSold
			})
		},
		handleActiveFlat(item) {
			this.flatHandled = 1
			this.activeFlat = item
			Catalog.getApartmentInfo(this.currentFlat).then(res => {
				this.apArea = res.apartmentByNumber.apArea
				this.apRoomNumber = res.apartmentByNumber.apRoomNumber
				this.isSold = res.apartmentByNumber.apIsSold
			})
		},
		handleClickFromSpace() {
			this.$data.show_entrance_details = true
			Catalog.getApartmentInfo(this.currentFlat).then(res => {
				this.apArea = res.apartmentByNumber.apArea
				this.apRoomNumber = res.apartmentByNumber.apRoomNumber
				this.isSold = res.apartmentByNumber.apIsSold
			})
		},
		methodToRunOnSelect(payload) {
			this.object = payload
		},
		validateEmail(email) {
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
			return re.test(String(email).toLowerCase())
		},
		validatePhone(phone) {
			var phoneno = /^[+][7]\d{10}$/
			return phoneno.test(phone)
		},
		handleSubmit() {
			if (this.name.length < 1) {
				this.emptyName = true
				return
			} else if (!this.validateEmail(this.email)) {
				this.incorrectEmail = true
				this.emptyName = false
				return
			} else if (!this.validatePhone(this.phone)) {
				this.emptyName = false
				this.incorrectEmail = false
				this.incorrectPhone = true
				return
			}

			this.emptyName = false
			this.incorrectEmail = false
			this.incorrectPhone = false

			Catalog.submitEmail({
				apNumber: this.flatHandled === 1 ? this.currentFlat : -1,
				clientEmail: this.email,
				clientName: this.name,
				clientNumber: this.phone,
				preferredTime: this.time,
			})
				.then(res => {
					alert('Ваша заявка принята.')
					this.name = ''
					this.email = ''
					this.phone = ''
					this.time = 'am'
				})
				.catch(res => {
					alert('Произошла ошибка, пожалуйста попробуйте еще раз.')
				})
		},
	},
	computed: {
		currentFlat: function() {
			return (
				this.activeCurEntrance * 20 +
				(this.activeFloor - 1) * 5 +
				this.activeFlat
			)
		},
	},
}
</script>