$retina_screen_laptops: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$laptops: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1)';
$tablet_landscape: 'only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';
$laptops2: 'screen and (min-device-width: 798px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1)';
$screen_2k: 'only screen and (min-width: 2040px) and (max-width: 2050px) and (-webkit-min-device-pixel-ratio: 2)';
$screen_2k60: 'only screen and (min-width: 2041px) and (max-width: 2650px)';
$screen_3k: 'only screen and (min-width: 2651px) and (max-width: 3850px)';

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
		format('truetype');
}

.myAlbum {
	background-image: url('/static/images/album_1.png');
	width: 100%;
	height: 0;
	padding-top: 60%;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.entrance {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background-color: #149778;
	color: #ffffff;
	font-size: 1.5rem;
	cursor: pointer;

	&:hover {
		background-color: #d22030;

		.tooltip {
			visibility: visible;
		}
	}

	&_1 {
		top: 48%;
		left: 30%;
	}

	&_2 {
		top: 23%;
		left: 10%;
	}

	&_3 {
		top: 30%;
		left: 30%;
	}

	&_4 {
		top: 30%;
		left: 48%;
	}

	&_5 {
		top: 32%;
		left: 65%;
	}

	&_6 {
		top: 29%;
		left: 76%;
	}

	&_7 {
		top: 56%;
		left: 76%;
	}

	&_P1 {
		top: 38%;
		left: 4%;
	}

	&_P2 {
		top: 76%;
		left: 90%;
	}

	.tooltip {
		width: 513px;
		height: 292px;
		background: #ffffff;
		left: 70px;
		top: -100px;
		visibility: hidden;
		border-radius: 5%;
		z-index: 30000;

		table {
			width: 100%;
			color: #000000;
			margin: 0 auto;
			padding: 0 20px;

			tr {
				height: 45px;

				td {
					padding-left: 5%;
				}
			}
		}

		&_to-left {
			left: -300px;
			top: 110%;
		}

		.paragraph {
			padding-left: 45px;
			font-size: 1.25rem;
			font-weight: bold;
			padding-top: 20px;
		}
	}
}

.album-box {
	height: 1370px;
	width: 100%;
	max-width: 100vw;
	margin-bottom: 50px;

	.album {
		.album-img {
			height: 1080px;
			object-fit: cover;
		}

		circle {
			cursor: pointer;
			position: relative;
		}
	}

	img {
		width: 100%;
		max-width: vw;
		object-fit: cover;
	}

	.form-box {
		height: 400px;
		top: 70.5%;
		left: calc((100% - 1420px) / 2);

		.form-wrapper {
			height: 100%;
			width: 930px;
			border-top-right-radius: 5px;
			border-bottom-right-radius: 5px;

			.form {
				margin-top: 30px;

				.input {
					height: 36px;
					outline: none;
					border-radius: 0;
					border-top: transparent !important;
					border-left: transparent !important;
					border-right: transparent !important;
					border-bottom: 1px solid #000000;
					background: transparent;
					box-sizing: border-box;
					font-size: 14px;
					color: #999999;
					line-height: normal;
					margin-bottom: 50px;
					margin-right: 200px;
					padding: 10px 4px;

					&:focus {
						outline: none;
					}

					&_s {
						width: 200px;
					}

					&_l {
						width: 200px;
					}
				}

				.errorInput {
					border-bottom-color: #d22030;
				}

				.error-span {
					position: absolute;
					bottom: 30px;
					font-size: 0.8rem;
					color: #d22030;
					visibility: hidden;
				}

				.visible-span {
					visibility: visible;
				}

				.form-btn {
					width: 200px;
					height: 67px;
					background: #149778;
					padding: 27px 16px;
					color: #fff;
					box-sizing: border-box;
					border-radius: 5px;
					line-height: normal;
					font-family: 'Source Sans Pro';
					font-style: normal;
					font-weight: bold;
					line-height: normal;
					font-size: 14px;
					cursor: pointer;

					.icon {
						width: 14px;
						margin-left: 13px;
						-webkit-transition: margin-left 0.5s ease-out;
						-moz-transition: margin-left 0.5s ease-out;
						-o-transition: margin-left 0.5s ease-out;
						transition: margin-left 0.5s ease-out;
					}

					&:hover {
						.icon {
							width: 14px;
							margin-left: 80px;
						}
					}
				}

				.radio-group {
					width: 100%;
					margin-left: -1rem;
					.radio-item {
						margin-right: 50px;
					}
				}
			}
		}
	}
}

$primary: #616161;

input[type='radio'] {
	display: none;
}

.active-label {
	color: $primary;

	&:before {
		background: #dcdcdc;
		border-color: $primary;
	}
}

label {
	font-size: 14px;
	font-weight: 600;
	line-height: 1;
	cursor: pointer;
	color: $primary;
	display: block;
	padding: 1rem 1rem 1rem 3rem;
	position: relative;
	whitespace: no-wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	transition: all 0.15s ease;

	&:focus,
	&:hover,
	&:active {
		@extend .active-label;
	}

	&:first-of-type {
		border: 0;
	}

	&:before {
		content: '';
		position: absolute;
		left: 1rem;
		top: 0.9rem;
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 1px solid #616262;
	}
}

input:checked + label {
	@extend .active-label;

	&:before {
		border-color: #616262;
		border: none;
		background: $primary;
	}
}

input:disabled + label {
	background: #efefef;
	color: rgba(black, 0.5);
	cursor: not-allowed;

	&:hover {
		border-color: #616262;
	}

	&:before {
		border-color: #dcdcdc;
		background: #dcdcdc;
	}
}

hr {
	color: #149778;
}

@media #{$retina_screen_laptops} {
	.album-box {
		height: 1150px;

		.form-box {
			top: unset;
			left: calc((100% - 1200px) / 2);
			margin-top: -5%;

			.form-wrapper {
				width: 700px;

				.form {
					.input {
						margin-right: 100px;
					}
				}
			}

			.form-img {
				height: 100%;
			}
		}
	}

	.entrance {
		.tooltip {
			width: 413px;
			height: 242px;

			&_to-left {
				left: -340px;
				top: 110%;
			}

			table {
				tr {
					height: 38px;

					td {
						padding-left: 4%;
					}
				}
			}
		}
	}
}

@media #{$laptops} {
	.album-box {
		height: 1150px;

		.form-box {
			top: unset;
			left: calc((100% - 1200px) / 2);
			margin-top: -6%;

			.form-wrapper {
				width: 700px;

				.form {
					.input {
						margin-right: 100px;
					}
				}
			}

			.form-img {
				height: 100%;
			}
		}
	}

	.entrance {
		.tooltip {
			width: 413px;
			height: 242px;

			&_to-left {
				left: -340px;
				top: 110%;
			}

			table {
				tr {
					height: 38px;

					td {
						padding-left: 4%;
					}
				}
			}
		}
	}
}

@media #{$laptops2} {
	.album-box {
		height: 1002px;
		margin-bottom: 0;
		.form-box {
			top: 60%;
			left: calc((100% - 700px) / 2);
			width: 700px;

			.form-img {
				display: none;
			}

			.form-wrapper {
				width: 700px;

				.form {
					.input {
						margin-right: 50px;
					}
				}
			}
		}
	}

	.entrance {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		background-color: #149778;
		color: #ffffff;
		font-size: 0.875rem;
		cursor: pointer;

		&:hover {
			background-color: #d22030;

			.tooltip {
				visibility: visible;
			}
		}

		.tooltip {
			width: 253px;
			height: 162px;
			font-size: 0.75rem;

			.paragraph {
				font-size: 0.875rem;
				margin: 0;
				padding-left: 28px;
			}

			table {
				tr {
					height: 22px;
				}
			}
		}
	}

	.flat-layout {
		min-width: 700px;
		width: 100%;
	}
}

@media #{$tablet_screen} {
	.album-box {
		height: 900px;
		margin-bottom: 0;
		.form-box {
			top: 55%;
			left: calc((100% - 700px) / 2);
			width: 700px;

			.form-img {
				display: none;
			}

			.form-wrapper {
				width: 700px;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

				.form {
					.input {
						margin-right: 50px;
					}
				}
			}
		}
	}

	.entrance {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		background-color: #149778;
		color: #ffffff;
		font-size: 0.875rem;
		cursor: pointer;

		&:hover {
			background-color: #d22030;

			.tooltip {
				visibility: visible;
			}
		}

		.tooltip {
			width: 253px;
			height: 162px;
			font-size: 0.75rem;

			.paragraph {
				font-size: 0.875rem;
				margin: 0;
				padding-left: 28px;
			}

			table {
				tr {
					height: 22px;
				}
			}
		}
	}

	.flat-layout {
		min-width: 700px;
		width: 100%;
	}
}

@media #{$phone_screens} {
	.album-box {
		height: auto;
		margin-bottom: 0;

		.form-box {
			position: unset;
			height: auto;

			.form-img {
				display: none;
			}

			.form-wrapper {
				top: 26%;
				width: 100%;
				left: 0;
				height: 680px;

				.margin-left_xs {
					margin-left: 0;

					.title,
					.paragpraph {
						padding-left: 5%;
					}
				}

				.form {
					justify-content: center;
					.input {
						margin-right: 0;
						width: 250px;

						&_s {
							margin-left: 0;
						}
					}

					.form-btn {
						margin-left: 0;
						margin-top: 130px;
					}

					.radio-group {
						top: 50%;
						position: absolute;
						justify-content: center;
						align-items: center;
						flex-direction: column;
						.radio-item {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.entrance {
		width: 16px;
		height: 16px;
		font-size: 0.6875rem;

		.tooltip {
			width: 153px;
			height: 93px;
			font-size: 0.5rem;
			left: -3px;
			top: 14px;

			&_to-left {
				left: -120px;
				top: 80%;
			}

			.paragraph {
				font-size: 0.5rem;
				margin: 0;
				padding-left: 12px;
				padding-top: 8px;
			}

			table {
				padding: 0 8px;
				tr {
					height: 12px;
				}
			}
		}
	}

	.flat-layout {
		min-width: 100%;
		width: 100%;
		height: auto;

		.flex {
			flex-direction: column;

			.half {
				width: 90%;
				height: 400px;

				.flex {
					flex-direction: row;
				}
			}
		}
	}
}

@media #{$phone_screens2} {
	.album-box {
		height: auto;
		margin-bottom: 0;

		.form-box {
			position: unset;
			height: auto;

			.form-img {
				display: none;
			}

			.form-wrapper {
				top: 26%;
				width: 100%;
				left: 0;
				height: 580px;

				.margin-left_xs {
					margin-left: 0;

					.title,
					.paragpraph {
						padding-left: 5%;
					}
				}

				.form {
					justify-content: center;
					.input {
						margin-right: 0;

						&_s {
							margin-left: 0;
						}
					}

					.form-btn {
						margin-left: 0;
						margin-top: 50px;
					}

					.radio-group {
						top: 68%;
						position: absolute;
						justify-content: center;

						.radio-item {
							margin: 0;
						}
					}
				}
			}
		}
	}

	.entrance {
		width: 16px;
		height: 16px;
		font-size: 0.6875rem;

		.tooltip {
			width: 153px;
			height: 93px;
			font-size: 0.5rem;
			left: -3px;
			top: 14px;

			&_to-left {
				left: -120px;
				top: 80%;
			}

			.paragraph {
				font-size: 0.5rem;
				margin: 0;
				padding-left: 12px;
				padding-top: 8px;
			}

			table {
				padding: 0 8px;
				tr {
					height: 12px;
				}
			}
		}
	}

	.flat-layout {
		min-width: 100%;
		width: 100%;
		height: auto;

		.flex {
			flex-direction: column;

			.half {
				width: 90%;
				height: 400px;

				.flex {
					flex-direction: row;
				}
			}
		}
	}
}

@media #{$tablet_landscape} {
	.album-box {
		height: 940px;
		margin-bottom: 0;
		.form-box {
			top: 55%;
			left: calc((100% - 700px) / 2);
			width: 700px;

			.form-img {
				display: none;
			}

			.form-wrapper {
				width: 700px;

				.form {
					.input {
						margin-right: 50px;
					}
				}
			}
		}
	}

	.entrance {
		width: 32px;
		height: 32px;
		border-radius: 100%;
		background-color: #149778;
		color: #ffffff;
		font-size: 0.875rem;
		cursor: pointer;

		&:hover {
			background-color: #d22030;

			.tooltip {
				visibility: visible;
			}
		}

		.tooltip {
			width: 253px;
			height: 162px;
			font-size: 0.75rem;

			.paragraph {
				font-size: 0.875rem;
				margin: 0;
				padding-left: 28px;
			}

			table {
				tr {
					height: 22px;
				}
			}
		}
	}

	.flat-layout {
		min-width: 700px;
		width: 100%;
	}
}

@media #{$screen_2k60} {
	.album-box {
		height: auto;
		margin-bottom: 0;
		.form-box {
			position: unset;
			display: flex;
			justify-content: center;
			margin-top: -3%;
			margin-bottom: 20px;
			border-bottom-left-radius: 25px;
			border-top-left-radius: 25px;

			.form-img {
				display: none;
			}

			.form-wrapper {
				width: 60%;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

				.form {
					.input {
						width: 500px;
						margin-right: 50px;
					}
				}
			}
		}
	}
}

@media #{$screen_3k} {
	.album-box {
		height: auto;
		margin-bottom: 0;

		.form-box {
			position: unset;
			display: flex;
			justify-content: center;
			margin-top: -5%;
			margin-bottom: 20px;

			.form-img {
				display: none;
			}

			.form-wrapper {
				width: 40%;
				border-top-left-radius: 5px;
				border-bottom-left-radius: 5px;

				.form {
					.input {
						width: 700px;
						margin-right: 50px;
					}
				}
			}
		}
	}

	.entrance {
		width: 100px;
		height: 100px;
		font-size: 2rem;
	}
}
