$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';

$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';

.about {
	.with-progress {
		.flex {
			.flex {
				.swiper-container {
					.swiper-wrapper {
						padding-bottom: 60px;
						display: flex;
						align-items: center;
					}
				}
			}
		}
	}

	.about-paragraph {
		top: 63px;
		font-size: 1.125rem;
	}

	.about-title {
		max-width: 608px;
		font-size: 3rem;

		&_center {
			margin-top: 30%;
		}
	}

	.about-tagline {
		margin-top: 7px;
		max-width: 608px;
		font-size: 1.25rem;
	}

	.btn-about {
		bottom: 73px;
		background: #149778;
		color: #fff;
		-webkit-transition: background-color 0.5s ease-out, color 0.5s ease-in;
		-moz-transition: background-color 0.5s ease-out, color 0.5s ease-in;
		-o-transition: background-color 0.5s ease-out, color 0.5s ease-in;
		transition: background-color 0.5s ease-out, color 0.5s ease-in;

		&:hover {
			color: #149778;
			background: #fff;
		}
	}

	.about-dashes {
		bottom: 190px;
	}

	.btn-map {
		bottom: 50px;

		&:hover {
			color: #ffffff;
			background: #149778;
			border-color: #149778;
		}
	}

	.dashes {
		width: 100%;
		display: flex;
		margin-left: 41px;
		margin-top: 88px;

		div {
			width: 47px;
			border: 2px solid #616262;
			margin-right: 5px;
		}

		&_white {
			div {
				border: 2px solid #ffffff;
			}
		}
	}

	.romb-bg {
		background-image: url('/static/images/rombs.png') !important;
	}

	.divided {
		height: 100%;
		width: 100%;

		&_dark-gray {
			height: 50%;
			background: #eceae7;
		}

		&_light-gray {
			height: 50%;
			background: #f9f8f7;
		}

		.about-image {
			position: absolute;
			top: 10%;
			left: 10%;
			height: 80%;
			width: 80%;
			object-fit: contain;
		}

		.img-swiper {
			position: absolute;
			top: 10%;
			left: 10%;
			width: 80%;
			height: 80%;

			.swiper-about-image {
				height: 100%;
				width: 100%;
				object-fit: contain;
			}
		}
	}

	.about-enter-active {
		transition: all 3s ease;
	}
	.about-leave-active {
		transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
	}
	.about-enter, .about-leave-to
	/* .bubble-leave-active below version 2.1.8 */ {
		transform: translateX(10px);
		opacity: 1;
	}

	.swiper-pagination {
		text-align: initial !important;
	}

	.swiper-pagination-bullets {
		position: absolute !important;
		top: 90% !important;
		left: 43px !important;

		.swiper-pagination-bullet {
			border-radius: 0 !important;
			width: 65px !important;
			height: 2px !important;
			background-color: #d3d3d3 !important;
		}

		.swiper-pagination-bullet-active {
			background: #2c2b2d !important;
		}
	}

	.swiper-slide {
		max-width: 100vw !important;
	}

	.swiper-pagination-progressbar {
		position: absolute !important;
		top: 95% !important;
		left: 43px !important;
		width: 200px !important;
	}

	.swiper-pagination-progressbar-fill {
		background: #2c2b2d !important;
	}

	.progress-wrapper {
		width: 200px;
		height: 2px;
		background: rgba(0, 0, 0, 0.5);
		margin-left: 46px;

		.progress {
			height: 2px;
			background: #2c2b2d;
			z-index: 10000;
		}

		.dash {
			width: 10px;
			height: 2px;
			background: #fff;

			&_1 {
				left: 33%;
			}

			&_2 {
				left: 66%;
			}
		}
	}
}

.map-enter-active {
	transition: opacity 0.5s ease-in-out;
}
.map-leave-active {
	transition: opacity 0.5s ease-in-out;
}
.map-enter,
.map-leave-to {
	opacity: 0;
}

@media #{$tablet_screen} {
	.about {
		width: 100%;

		.height_l {
			max-height: 2000px;
			height: 2000px;
		}

		.flex {
			flex-wrap: wrap;
			.half {
				width: 100%;
				height: 1000px;
			}
		}
	}
}

@media #{$phone_screens} {
	.map-width {
		width: 100% !important;
	}

	.about {
		width: 100%;

		.about-tagline {
			max-width: 360px;
			box-sizing: border-box;
		}

		.about-paragraph {
			top: 25px;
		}

		.btn-map {
			bottom: 30px;
		}

		.height_l {
			max-height: 1300px;
			height: 1300px;
		}

		.flex {
			flex-wrap: wrap;
			.half {
				width: 100%;
				height: 500px;
			}

			.bigger-height {
				height: 800px;

				.flex {
					.title {
						font-size: 1.5rem;
						padding-bottom: 50px;
					}

					.paragraph {
						font-size: 1.125rem;
					}
				}
			}
		}
	}
}

@media #{$phone_screens2} {
	.map-width {
		width: 100% !important;
	}

	.about {
		width: 100%;

		.about-tagline {
			max-width: 360px;
			box-sizing: border-box;
		}

		.about-paragraph {
			top: 25px;
		}

		.btn-map {
			bottom: 30px;
		}

		.height_l {
			max-height: 1300px;
			height: 1300px;
		}

		.flex {
			flex-wrap: wrap;
			.half {
				width: 100%;
				height: 500px;
			}

			.bigger-height {
				height: 800px;

				.flex {
					.title {
						font-size: 1.5rem;
						padding-bottom: 50px;
					}

					.paragraph {
						font-size: 1.125rem;
					}
				}
			}
		}
	}
}
