<template>
  <div :id="hasId ? 'about' : ''">
    <div class="width_m about">
      <div class="flex full-width height_l">
        <div class="half full-height">
          <div class="divided relative">
            <div :class="`divided_dark-gray ${add_romb ? 'romb-bg' : ''}`"></div>
            <div class="divided_light-gray"></div>
            <img
              data-aos="fade-in"
              data-aos-delay="100"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
              :src="first[0].src"
              alt
              class="about-image absolute"
            >
          </div>
        </div>
        <transition v-if="!showDetails" name="about">
          <div class="half bigger-height full-height bg_green relative flex flex_align-center">
            <div
              data-aos="fade-in"
              data-aos-delay="100"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
              class="paragraph about-paragraph absolute left_xs"
              v-if="!showDetails"
            >{{first[0].title}}</div>
            <div
              class="flex flex_column left_xs right_xs"
              data-aos="fade-in"
              data-aos-delay="100"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              <div
                class="title about-title"
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >{{first[0].subtitle }}</div>
              <div
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                v-for="(item, i) in first[0].text"
                :key="i"
                class="paragraph paragraph_light about-tagline"
              >
                {{ item }}
                <br>
                <br>
              </div>
            </div>
            <div
              v-if="first[0].button && !showDetails"
              class="button btn-about absolute"
              @click="handleShowDetails"
            >{{first[0].buttonText}}</div>
          </div>
        </transition>
        <transition v-if="showDetails" name="about">
          <div class="half bigger-height full-height bg_green relative flex flex_align-center">
            <div
              data-aos="fade-in"
              data-aos-delay="10000"
              data-aosdu-ration="1000"
              data-aos-easing="ease-in-out"
              class="paragraph about-paragraph absolute left_xs"
            >{{first[1].title}}</div>
            <div class="flex flex_column left_xs right_xs">
              <div
                class="title about-title"
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
              >{{first[1].subtitle}}</div>
              <div
                data-aos="fade-in"
                data-aos-delay="100"
                data-aos-duration="500"
                data-aos-easing="ease-in-out"
                v-for="(item, i) in first[1].text"
                :key="i"
                class="paragraph paragraph_light about-tagline"
              >
                {{ item }}
                <br>
                <br>
              </div>
            </div>
            <div
              data-aos="fade-in"
              data-aos-delay="100"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
              v-if="first[1].button && !showDetails"
              class="button btn-about absolute"
              @click="handleShowDetails"
            >{{first[1].buttonText}}</div>
          </div>
        </transition>
      </div>
      <div class="flex full-width height_l with-progress">
        <div class="half bigger-height full-height relative flex flex_column flex_justify-center">
          <div
            data-aos="fade-in"
            data-aos-delay="100"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            class="left_xs paragraph paragraph_normal about-paragraph absolute"
          >{{ second[0].title }}</div>
          <div
            class="flex flex_column"
            data-aos="fade-in"
            data-aos-delay="100"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
          >
            <div style="max-width: 100vw">
              <swiper :options="swiperOption" class="full-height" ref="aboutSwiper">
                <swiper-slide v-for="(item, i) in second" :key="i">
                  <div class="title right_xs title_normal left_xs">{{ item.subtitle }}</div>
                  <div
                    v-for="(item, i) in item.text"
                    :key="i"
                    class="left_xs right_xs paragraph paragraph_normal paragraph_light about-tagline"
                  >
                    {{ item }}
                    <br>
                  </div>
                </swiper-slide>
                <div v-if="second.length > 1" class="about-pagination" slot="pagination">
                  <div>
                    <div
                      v-for="(item, index) in second.length"
                      :key="index"
                      class="about-pagination-line"
                    >
                      <div
                        :class="activeIndex == index ? activeClass : ''"
                        class="about-pagination_progress"
                      ></div>
                    </div>
                  </div>
                </div>
              </swiper>
            </div>
          </div>
          <a href="#mapp" v-smooth-scroll="{ duration: 1000, offset: -50}">
            <div
              v-if="second[0].button"
              class="btn-map button button_normal absolute"
              @click="handleShowMap"
            >Карта</div>
          </a>
        </div>
        <div class="half full-height">
          <div class="divided relative">
            <div :class="`divided_light-gray ${add_romb ? 'romb-bg' : ''}`"></div>
            <div class="divided_dark-gray"></div>
            <div
              class="img-swiper"
              data-aos="fade-in"
              data-aos-delay="100"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
            >
              <swiper :options="swiperOption" class="full-height">
                <swiper-slide v-for="(item, i) in second[0].imgs" :key="i">
                  <img
                    :src="item"
                    alt
                    class="swiper-about-image absolute"
                    @click="slideImageDialog = true"
                  >
                </swiper-slide>
              </swiper>
            </div>
            <transition name="fade">
              <div class="image-dialog" v-if="slideImageDialog">
                <div @click="slideImageDialog = false" class="image-dialog-background"></div>
                <div class="image-dialog_container">
                  <button @click="slideImageDialog = false" class="closeBtn">
                    <i class="v-icon material-icons theme--light">close</i>
                  </button>
                  <div class="image-dialog-content">
                    <ModalSlider :images="second[0].imgs"></ModalSlider>
                  </div>
                </div>
              </div>
            </transition>
          </div>
        </div>
      </div>
    </div>
    <div id="mapp"></div>
    <transition name="map">
      <div v-if="showMap" class="width_m map-width">
        <Map/>
      </div>
    </transition>
  </div>
</template>

<script>
import './about.scss'
import Map from './map/Map.vue'
import ModalSlider from './ModalSlider'
export default {
	name: 'Name',
	components: {Map, ModalSlider},
	props: ['first', 'second', 'add_romb', 'hasId'],
	data() {
		return {
			slideImageDialog: false,
			activeClass: 'activeAnimate',
			index: 0,
			showDetails: false,
			showMap: false,
			swiperOption: {
				autoplay: {
					disableOnInteraction: false,
					delay: 8000,
				},
				onSlideChangeEnd() {
					this.onSwipe()
				},
				effect: 'fade',
				fadeEffect: {
					crossFade: true,
				},
			},
		}
	},
	computed: {
		swiper() {
			return this.$refs.aboutSwiper.swiper
		},
		activeIndex() {
			return this.index
		},
	},
	mounted() {
		this.swiper.on('slideChange', () => {
			this.onSwipe(this)
		})
	},
	methods: {
		handleShowDetails() {
			this.showDetails = !this.showDetails
		},
		handleShowMap() {
			this.showMap = !this.showMap
		},
		onSwipe() {
			this.index = this.swiper.activeIndex
		},
	},
}
</script>

<style>
.swiper-about-image{
    cursor: pointer;
}
.about-pagination {
	position: absolute !important;
	top: 92% !important;
	left: 43px !important;
}
.about-pagination div {
	display: flex;
	margin-right: 5px;
}
.about-pagination-line {
	background-color: #d3d3d3;
	width: 65px;
	height: 2px;
	z-index: 999;
	position: relative;
}
.activeAnimate {
	background-color: #616262;
	animation: progressAnimation 8.3s linear infinite;
}
.about-pagination_progress {
	background-color: #616262;
	height: 2px;
	position: absolute;
	left: 0;
	width: 0%;
}

.image-dialog {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.image-dialog-background{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    /* z-index: 40; */
}
.image-dialog_container img {
	height: 100vh;
    z-index: 50;
}
.image-dialog-content {
	display: flex;
	justify-content: center;
}
.closeBtn {
	position: absolute;
	right: 10px;
	top: 10px;
	background: none;
	border: none;
	outline: none;
    z-index: 99;
}
.closeBtn i {
	color: #fff;
	cursor: pointer;
	font-size: 2.5rem;
}
.closeBtn i:hover {
	color: #bebebe;
}
.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
	opacity: 0;
}
@media only screen and (min-width: 320px) and (max-width: 1200px) and (-webkit-min-device-pixel-ratio: 1) {
	.image-dialog {
		display: none !important;
	}
}
</style>
