<template>
    <div>
        <v-carousel hide-delimiters class="modalSlider" height="100vh">
            <v-carousel-item v-for="(item, index) in images" :key="index">
                <img :src="item" alt="">
                <div class="out-of flex flex_justify-center flex_align-center">{{index+1}} / {{images.length}}</div>
            </v-carousel-item>
        </v-carousel>
    </div>
</template>
<script>
export default {
    props: ['images'],
}
</script>
<style>
.modalSlider{
    position: relative;
}
.v-carousel__prev{
    position: absolute;
    top: 50%;
    left: 0;
}
.v-carousel__next{
    position: absolute;
    top: 50%;
    right: 0;
}
.modalSlider button{
    color: #fff;
    position: absolute;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.modalSlider button:hover{
    color: #bebebe;
}
.out-of{
    position:absolute;
    color:#fff;
    background-color:#000;
    font-size: 22px;
    left:50%;
    right:50%;
    bottom:5%;
    height:50px;
    min-width:90px;
    z-index: 99;
}
</style>
