$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';

.space-block {
	height: 585px;
	//background: #f9f8f7;

	.space {
		height: 500px;
		max-height: 500px;
		width: 90%;
		left: 5%;
		top: 40px;
		background: #149778;

		.space-inner {
			width: 46%;
		}

		.btns-group {
			justify-content: center;
		}

		.button {
			width: 187px;
			height: auto;
			line-height: 25px;
			padding: 10px 20px;
			font-size: 1.375rem;
			border-radius: 5px;

			&:hover {
				text-decoration: underline;
			}

			a {
				color: #ffffff;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		.dashes {
			margin-left: 0;
			margin-top: 64px;
		}
	}
}

@media #{$tablet_screen} {
	.space-block {
		.space {
			flex-direction: column;

			.space-inner {
				width: 90%;
				margin-bottom: 44px;
				margin-left: 0;
			}

			.btns-group {
				justify-content: space-between;
				width: 70%;

				.space-btn {
					margin: 0;
					height: 73px;
					width: 160px;
				}
			}
		}
	}
}

@media #{$phone_screens} {
	.space-block {
		height: 800px;
		.space {
			justify-content: initial;
			align-items: flex-start;
			flex-direction: column;
			height: 700px;
			max-height: 700px;

			.margin-left {
				&_s {
					margin-left: 26px;
				}
			}

			.space-inner {
				width: 90%;
				height: auto;

				.title {
					padding-top: 30px;
					font-size: 2.5rem;
				}

				.paragraph {
					font-size: 1rem;
					width: 90%;
				}
			}

			.btns-group {
				flex-direction: column;
				width: 70%;

				.space-btn {
					margin: 0;
					height: 73px;
					width: 160px;
					margin-top: 40px;
				}
			}
		}
	}
}

@media #{$phone_screens2} {
	.space-block {
		height: 800px;
		.space {
			justify-content: initial;
			align-items: flex-start;
			flex-direction: column;
			height: 700px;
			max-height: 700px;

			.margin-left {
				&_s {
					margin-left: 26px;
				}
			}

			.space-inner {
				width: 90%;
				height: auto;

				.title {
					padding-top: 30px;
					font-size: 2.5rem;
				}

				.paragraph {
					font-size: 1rem;
					width: 90%;
				}
			}

			.btns-group {
				flex-direction: column;
				width: 70%;

				.space-btn {
					margin: 0;
					height: 73px;
					width: 160px;
					margin-top: 40px;
				}
			}
		}
	}
}
