<template>
  <div class="space-block">
    <div class="full-height_s relative bg_gray">
      <div class="space absolute flex flex_center">
        <div class="margin-left_s space-inner">
          <div
            data-aos="fade-in"
            data-aos-delay="200"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            class="title title_l"
          >Продуманное пространство</div>
          <div
            data-aos="fade-in"
            data-aos-delay="200"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            class="paragraph paragraph_light margin-top_xs"
          >{{paragraph1}}</div>
          <br>
          <div
            data-aos="fade-in"
            data-aos-delay="200"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            class="paragraph paragraph_light"
          >{{paragraph2}}</div>
        </div>
        <div class="flex flex_align-center btns-group space-inner">
          <div
            data-aos="fade-in"
            data-aos-delay="200"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            class="button space-btn"
            @click="handleClick"
          >
            <a href="#flats" v-smooth-scroll="{ duration: 1000, offset: -50}">Выбрать планировку</a>
          </div>
          <div
            data-aos="fade-in"
            data-aos-delay="200"
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            class="button space-btn"
          >
            <a href="#callback" v-smooth-scroll="{ duration: 1000, offset: -50}">Оставить заявку</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import './space.scss'

export default {
	name: 'Space',
	props: ['handleClick'],
	data() {
		return {
			paragraph1:
				'Во дворе жилого комплекса «Горное Солнце» царит тихая, спокойная и гармоничная атмосфера. На просторной территории есть детская площадка и уютная зона для вечернего отдыха, где после суетливого дня можно отдохнуть и расслабиться в кругу семьи. ',
			paragraph2:
				'Жилой комплекс состоит из четырех четырехэтажных домов, на каждом этаже располагается по 5 квартир. Все подъезды оснащены лифтом.',
		}
	},
}
</script>

<style>
</style>
