<template>
  <div class="flat-layout flex flex_center">
    <div class="flex flex_justify-center">
      <div class="layouts">
        <div class="flex">
          <div class="layout-part">
            <div class="paragraph paragraph_green">Подъезд</div>
            <SvgLayout :handleEntrance="handleEntranceClick" :activeEntrance="activeEntrance"/>
          </div>
          <div class="layout-part">
            <div class="paragraph paragraph_green">Этаж</div>
            <div
              :class="`floor ${activeFloor == item ? 'active-floor' : ''}`"
              v-for="(item, i) in floors"
              :key="i"
              @click="handleFloorClick(item)"
            >{{item}}</div>
          </div>
          <div class="layout-part">
            <div class="paragraph paragraph_green">Квартиры</div>
            <div class="flats flex flex_wrap">
              <div
                v-for="(item, i) in flats"
                :key="i"
                :class="`flat  ${item.sold ? 'sold-flat' : ''} ${activeFlat == i+1 ? 'active-flat relative' : 'relative'}`"
                @click="handleFlatClick(i+1)"
              >
                <img :src="item.src" alt>
                <div
                  :class="activeFlat == i+1 ? 'flat-number absolute active-number' : 'flat-number absolute'"
                >
                  {{activeEntrance * 20 +
                  (activeFloor - 1) * 5 +
                  i + 1}}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="layouts-info">
          <div class="item">
            <a href="#callback" v-smooth-scroll="{ duration: 1000, offset: -50}">
              <div class="button">Оставить заявку</div>
            </a>
          </div>
          <div class="information">
            <div class="flex">
              <!-- <div class="item">
              <div class="button">Скачать pdf</div>
              </div>-->
              <div class="paragraph paragraph_green item">Количество комнат</div>
              <div class="paragraph paragraph_gray item">{{rooms}} комнаты</div>
            </div>
            <div class="flex">
              <!-- <div class="item">
              <a href="#callback" v-smooth-scroll="{ duration: 1000, offset: -50}">
                <div class="button">Оставить заявку</div>
              </a>
              </div>-->
              <div class="paragraph paragraph_green item">Площадь квартиры</div>
              <div class="paragraph paragraph_gray item">{{area}}м2</div>
            </div>
          </div>
        </div>
      </div>
      <div class="img-compare relative">
        <div class="absolute plan-number">{{currentFlat}}</div>
        <VueCompareImage
          :leftImage="`/static/3D/${activeEntrance + 1}/${activeEntrance + 1}-${
					activeFloor}/${activeEntrance * 20 + (activeFloor - 1) * 5 + activeFlat}.jpg`"
          :rightImage="`/static/2D/${activeEntrance + 1}/${activeEntrance + 1}-${
					activeFloor}/${activeEntrance * 20 + (activeFloor - 1) * 5 + activeFlat}.png`"
          :sliderPositionPercentage="0.5"
        />
      </div>
    </div>
  </div>
</template>

<script>
import VueCompareImage from 'vue-compare-image'
import SvgLayout from './SvgLayout.vue'
import './style.scss'
import Catalog from '../catalog.js'

export default {
	name: 'LayoutsForm',
	props: [
		'activeEntranceParent',
		'handleEntrance',
		'handleActiveFlat',
		'handleActiveFloor',
		'area',
		'rooms',
		'apartments',
		'isSold',
		'currentFlat',
	],
	components: {VueCompareImage, SvgLayout},
	data() {
		return {
			floors: [1, 2, 3, 4],
			activeFloor: 1,
			activeFlat: 1,
		}
	},
	computed: {
		activeEntrance: function() {
			return this.activeEntranceParent
		},
		flats: function() {
			return [
				{
					sold: this.apartments[
						this.activeEntrance * 20 + (this.activeFloor - 1) * 5
					].apIsSold,
					src: `/static/2D/${this.activeEntrance + 1}/${this.activeEntrance +
						1}-${this.activeFloor}/${this.activeEntrance * 20 +
						(this.activeFloor - 1) * 5 +
						1}.png`,
				},
				{
					sold: this.apartments[
						this.activeEntrance * 20 + (this.activeFloor - 1) * 5 + 1
					].apIsSold,
					src: `/static/2D/${this.activeEntrance + 1}/${this.activeEntrance +
						1}-${this.activeFloor}/${this.activeEntrance * 20 +
						(this.activeFloor - 1) * 5 +
						2}.png`,
				},
				{
					sold: this.apartments[
						this.activeEntrance * 20 + (this.activeFloor - 1) * 5 + 2
					].apIsSold,
					src: `/static/2D/${this.activeEntrance + 1}/${this.activeEntrance +
						1}-${this.activeFloor}/${this.activeEntrance * 20 +
						(this.activeFloor - 1) * 5 +
						3}.png`,
				},
				{
					sold: this.apartments[
						this.activeEntrance * 20 + (this.activeFloor - 1) * 5 + 3
					].apIsSold,
					src: `/static/2D/${this.activeEntrance + 1}/${this.activeEntrance +
						1}-${this.activeFloor}/${this.activeEntrance * 20 +
						(this.activeFloor - 1) * 5 +
						4}.png`,
				},
				{
					sold:
						(this.activeEntrance === 6 && this.activeFloor === 4) ||
						this.apartments[
							this.activeEntrance * 20 + (this.activeFloor - 1) * 5 + 4
						].apIsSold,
					src: `/static/2D/${this.activeEntrance + 1}/${this.activeEntrance +
						1}-${this.activeFloor}/${this.activeEntrance * 20 +
						(this.activeFloor - 1) * 5 +
						5}.png`,
				},
			]
		},
	},
	mounted() {
		this.apartments.sort(this.compare)
	},
	methods: {
		handleFloorClick(item) {
			this.activeFloor = item
			this.handleActiveFloor(item)
		},
		handleFlatClick(item) {
			this.activeFlat = item
			this.handleActiveFlat(item)
		},
		handleEntranceClick(item) {
			this.handleEntrance(item)
		},
		compare(flat1, flat2) {
			return flat1.apNumber > flat2.apNumber ? 1 : -1
		},
	},
}
</script>

<style>
</style>
