$retina_screen_laptops: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$laptops: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1)';
$tablet_landscape: 'only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';
$laptops2: 'screen and (min-device-width: 800px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1)';

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
		format('truetype');
}

@keyframes info_animation {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

.flat-layout {
	padding-top: 36px;
	width: 100%;
	height: auto;
	margin: 0 auto;
	margin-bottom: 20px;

	.flex {
		width: 100%;
	}

	.layouts {
		width: 60%;
		height: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-right: 10px;

		.layouts-info {
			margin-top: 44px;
			width: 100%;
			display: flex;
			align-items: center;

			.item {
				width: 31%;
			}

			.button {
				width: 160px;
				height: 50px;
				background: #149778;
				color: #fff;
				border-radius: 5px;
				font-size: 1.125rem;
				line-height: 44px;
			}

			.information {
				width: 66%;
			}

			.flex {
				align-items: center;
				margin-bottom: 10px;
				.paragraph {
					font-size: 1.5rem;

					&:nth-child(2) {
						font-weight: normal;
					}
				}

				.item {
					width: 40%;
				}

				.button {
					width: 160px;
					height: 50px;
					background: #149778;
					color: #fff;
					border-radius: 5px;
					font-size: 1.125rem;
					line-height: 44px;
				}
			}
		}

		.flex {
			.layout-part {
				box-sizing: border-box;

				&:nth-child(1) {
					width: 21%;
				}
				&:nth-child(2) {
					width: 10%;
				}
				&:nth-child(3) {
					width: 69%;
					display: flex;
					flex-wrap: wrap;
				}

				.paragraph {
					margin-bottom: 20px;
				}

				.floor {
					width: 60px;
					height: 60px;
					border-radius: 100%;
					color: #149778;
					font-size: 1.5rem;
					border: 1px solid #149778;
					text-align: center;
					line-height: 60px;
					margin-bottom: 20px;
					cursor: pointer;
				}

				.active-floor {
					background: #149778;
					color: #fff;
				}

				.flats {
					.flat {
						width: 200px;
						height: 200px;
						cursor: pointer;
						margin-right: 4px;
						margin-bottom: 4px;

						.flat-number {
							color: #149778;
							bottom: 2px;
							right: 2px;
							font-size: 0.75rem;
							width: 19px;
							height: 19px;
							line-height: 19px;
							border: 1px solid #149778;
							border-radius: 100%;
							text-align: center;
						}

						.active-number {
							background: #149778;
							color: #fff;
						}

						img {
							width: 200px;
							height: 200px;
						}
					}

					.sold-flat {
						display: none;
					}

					.active-flat {
						border: 1px solid #149778;
					}
				}
			}
		}

		.hr-layout {
			color: #ececec;
			width: 80%;
			border-style: solid;
		}

		.flats-catalog {
			min-height: 126px;
		}

		.area {
			width: 80%;
		}

		.layout-btn {
			width: 80%;
			height: 37px;
			background: #149778;
			padding: 27px 16px;
			color: #fff;
			box-sizing: border-box;
			line-height: normal;
			font-family: 'Source Sans Pro';
			font-style: normal;
			font-weight: bold;
			line-height: normal;
			font-size: 14px;
			cursor: pointer;

			.icon {
				width: 14px;
				margin-left: 13px;
				-webkit-transition: margin-left 0.5s ease-out;
				-moz-transition: margin-left 0.5s ease-out;
				-o-transition: margin-left 0.5s ease-out;
				transition: margin-left 0.5s ease-out;
			}

			&:hover {
				.icon {
					width: 14px;
					margin-left: 80px;
				}
			}
		}

		.btn-group {
			width: 80%;

			.dropdown-toggle {
				font-family: 'Source Sans Pro';
				font-size: 1.25rem;
				margin-right: 20px;

				.span {
					margin-left: 100px;
				}
			}
		}
	}

	.img-compare {
		width: 30%;

		.plan-number {
			top: 1rem;
			left: 1rem;
			z-index: 10000;
			width: 60px;
			height: 60px;
			border-radius: 100%;
			color: #ffffff;
			background: #149778;
			font-size: 1.5rem;
			border: 1px solid #149778;
			text-align: center;
			line-height: 60px;
			margin-bottom: 20px;
			cursor: pointer;
		}

		.vci-slider {
			.line {
				background: #149778;
				width: 4px !important;
			}

			.handle {
				border: 4px solid #149778 !important;

				.left-arrow {
					border-color: rgba(0, 0, 0, 0) #149778 rgba(0, 0, 0, 0)
						rgba(0, 0, 0, 0) !important;
				}

				.right-arrow {
					border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0)
						#149778 !important;
				}
			}
		}
	}
}

@media #{$retina_screen_laptops} {
	.flat-layout {
		height: auto;
		margin-bottom: 10px;
		.layouts {
			.flex {
				.layout-part {
					.flats {
						.flat {
							width: 150px;
							height: 150px;

							img {
								width: 150px;
								height: 150px;
							}
						}
					}
				}
			}
		}
	}
}

@media #{laptops} {
	.flat-layout {
		height: auto;
		margin-bottom: 10px;

		.layouts {
			.flex {
				.layout-part {
					.flats {
						.flat {
							width: 150px;
							height: 150px;

							img {
								width: 150px;
								height: 150px;
							}
						}
					}
				}
			}
		}
	}
}

@media #{$laptops2} {
	.flat-layout {
		height: auto;
		margin-bottom: 10px;

		.flex {
			align-items: center;
			flex-direction: column;

			.layouts {
				width: 98%;
				margin-right: 0;

				.flex {
					flex-direction: row;
					align-items: unset;
					justify-content: space-between;

					.layout-part {
						.flats {
							.flat {
								width: 150px;
								height: 150px;

								img {
									width: 150px;
									height: 150px;
								}
							}
						}

						&:nth-child(3) {
							width: 62%;

							.flex {
								justify-content: unset;
							}
						}
					}
				}
			}

			.img-compare {
				margin-top: 10px;
				width: 90%;
			}
		}
	}
}

@media #{$tablet_screen} {
	.flat-layout {
		height: auto;
		margin-bottom: 10px;

		.flex {
			align-items: center;
			flex-direction: column;

			.layouts {
				width: 98%;
				margin-right: 0;

				.flex {
					flex-direction: row;
					align-items: unset;
					justify-content: space-between;

					.layout-part {
						.flats {
							.flat {
								width: 150px;
								height: 150px;

								img {
									width: 150px;
									height: 150px;
								}
							}
						}

						&:nth-child(3) {
							width: 62%;

							.flex {
								justify-content: unset;
							}
						}
					}
				}
			}

			.img-compare {
				margin-top: 10px;
				width: 90%;
			}
		}
	}
}

@media #{$tablet_landscape} {
	.flat-layout {
		height: auto;
		margin-bottom: 10px;

		.flex {
			align-items: center;
			flex-direction: column;

			.layouts {
				width: 98%;
				margin-right: 0;

				.flex {
					flex-direction: row;
					align-items: unset;
					justify-content: space-between;

					.layout-part {
						.flats {
							.flat {
								width: 150px;
								height: 150px;

								img {
									width: 150px;
									height: 150px;
								}
							}
						}

						&:nth-child(3) {
							width: 62%;

							.flex {
								justify-content: unset;
							}
						}
					}
				}
			}

			.img-compare {
				margin-top: 10px;
				width: 90%;
			}
		}
	}
}

@media #{$phone_screens} {
	.flat-layout {
		height: auto;
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;

		.flex {
			align-items: center;
			flex-direction: column;

			.layouts {
				width: 98%;
				margin-right: 0;

				.flex {
					flex-direction: column;
					align-items: unset;
					justify-content: space-between;

					.layout-part {
						width: 100%;
						margin-bottom: 20px;

						&:nth-child(2) {
							display: flex;
							justify-content: space-between;
						}

						.flats {
							.flat {
								width: 150px;
								height: 150px;
								margin-right: 0;

								img {
									width: 150px;
									height: 150px;
								}
							}
						}

						&:nth-child(3) {
							.flex {
								flex-direction: row;

								.flat {
									width: 140px;
									height: 140px;

									img {
										width: 140px;
										height: 140px;
									}
								}
							}
						}

						.floor {
							width: 50px;
							height: 50px;
							line-height: 50px;
						}
					}
				}

				.layouts-info {
					.item {
						.button {
							width: 88px;
							height: 48px;
							font-size: 1rem;
							line-height: 21px;
							margin-left: 0;
						}
					}

					.flex {
						flex-direction: row;
						margin-bottom: 20px;

						.item {
							.button {
								width: px;
								height: 40px;
								font-size: 1rem;
								line-height: 34px;
								margin-left: 0;
							}
						}

						.paragraph {
							font-size: 1rem;
						}
					}
				}
			}

			.img-compare {
				margin-top: 10px;
				width: 90%;
			}
		}
	}
}

@media #{$phone_screens2} {
	.flat-layout {
		height: auto;
		margin-bottom: 10px;
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;

		.flex {
			align-items: center;
			flex-direction: column;

			.layouts {
				width: 98%;
				margin-right: 0;

				.flex {
					flex-direction: column;
					align-items: unset;
					justify-content: space-between;

					.layout-part {
						width: 100%;
						margin-bottom: 20px;

						&:nth-child(2) {
							display: flex;
							justify-content: space-between;
						}

						.flats {
							.flat {
								width: 150px;
								height: 150px;
								margin-right: 0;

								img {
									width: 150px;
									height: 150px;
								}
							}
						}

						&:nth-child(3) {
							.flex {
								flex-direction: row;

								.flat {
									width: 140px;
									height: 140px;

									img {
										width: 140px;
										height: 140px;
									}
								}
							}
						}

						.floor {
							width: 50px;
							height: 50px;
							line-height: 50px;
						}
					}
				}

				.layouts-info {
					.item {
						.button {
							width: 88px;
							height: 48px;
							font-size: 1rem;
							line-height: 21px;
							margin-left: 0;
						}
					}

					.flex {
						flex-direction: row;
						margin-bottom: 20px;

						.item {
							.button {
								width: 88px;
								height: 40px;
								font-size: 1rem;
								line-height: 34px;
								margin-left: 0;
							}
						}

						.paragraph {
							font-size: 1rem;
						}
					}
				}
			}

			.img-compare {
				margin-top: 10px;
				width: 90%;
			}
		}
	}
}
