<template>
  <svg
		class="svgLayout"
    width="161px"
    height="325px"
    viewBox="519 89 161 325"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink"
  >
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <polygon
      v-for="(item, i) in shapes"
      :key="i"
      :id="item.id"
      :class="`${(i === activeEntrance || (i === 2 && activeEntrance === 1) || (i === 1 && activeEntrance === 2) || (i === 3 && activeEntrance === 4) || (i === 4 && activeEntrance === 3) || (i === 5 && activeEntrance === 6) || (i === 6 && activeEntrance === 5)) ? 'active-entrance entrance-num' : 'entrance-num'}`"
      stroke="#000000"
      stroke-width="1"
      fill="#FFFFFF"
      fill-rule="evenodd"
      @click="handleClick(i)"
      :points="item.path"
    ></polygon>
    <path
      v-for="(item, i) in lines"
      :class="((i === 2 && (activeEntrance === 1 || activeEntrance === 2)) || (i === 1 && (activeEntrance === 3 || activeEntrance === 4)) || (i === 0 && (activeEntrance === 5 || activeEntrance === 6))) ? 'active-entrance' : ''"
      :key="i + 60"
      :d="item.path"
      :id="item.id"
      stroke="#FFFFFF"
      stroke-width="5"
      stroke-linecap="square"
      fill="none"
    ></path>
    <path
      v-for="(item, i) in points"
      :key="i+10"
      :d="item"
      :class="` ${activeEntrance == i ? 'active-entrance' : 'entrance-num'}`"
      :id="i+1"
      stroke="none"
      fill="#000000"
      fill-rule="evenodd"
      @click="handleClick(i)"
    ></path>
  </svg>
</template>

<script>
export default {
	name: 'SvgLayout',
	props: ['handleEntrance', 'activeEntrance'],
	data() {
		return {
			points: [
				'M621,340.384 L624.312,340.384 L624.312,331.576 L621.456,331.576 L621.456,329.392 C622.288,329.232 622.992,329.04 623.568,328.816 C624.144,328.592 624.704,328.32 625.248,328 L627.84,328 L627.84,340.384 L630.696,340.384 L630.696,343.24 L621,343.24 L621,340.384 Z',
				'M570.168,404.528 L570.168,402.512 C571.144,401.6 572.032,400.752 572.832,399.968 C573.648,399.168 574.344,398.424 574.92,397.736 C575.512,397.032 575.968,396.384 576.288,395.792 C576.624,395.184 576.792,394.608 576.792,394.064 C576.792,393.312 576.6,392.744 576.216,392.36 C575.832,391.96 575.304,391.76 574.632,391.76 C574.072,391.76 573.576,391.92 573.144,392.24 C572.712,392.544 572.304,392.904 571.92,393.32 L570,391.424 C570.752,390.624 571.52,390.024 572.304,389.624 C573.088,389.208 574.024,389 575.112,389 C575.864,389 576.544,389.12 577.152,389.36 C577.776,389.584 578.312,389.912 578.76,390.344 C579.208,390.76 579.552,391.264 579.792,391.856 C580.032,392.448 580.152,393.112 580.152,393.848 C580.152,394.488 580.016,395.144 579.744,395.816 C579.472,396.472 579.104,397.136 578.64,397.808 C578.192,398.464 577.672,399.128 577.08,399.8 C576.504,400.456 575.904,401.104 575.28,401.744 C575.664,401.696 576.088,401.656 576.552,401.624 C577.032,401.576 577.456,401.552 577.824,401.552 L580.896,401.552 L580.896,404.528 L570.168,404.528 L570.168,404.528 Z',
				'M574.304,343.528 C573.056,343.528 572,343.336 571.136,342.952 C570.272,342.552 569.56,342.024 569,341.368 L570.632,339.136 C571.096,339.584 571.6,339.952 572.144,340.24 C572.704,340.528 573.312,340.672 573.968,340.672 C574.72,340.672 575.32,340.52 575.768,340.216 C576.216,339.896 576.44,339.448 576.44,338.872 C576.44,338.536 576.376,338.232 576.248,337.96 C576.136,337.688 575.928,337.464 575.624,337.288 C575.32,337.096 574.904,336.952 574.376,336.856 C573.848,336.744 573.168,336.688 572.336,336.688 L572.336,334.192 C573.024,334.192 573.592,334.144 574.04,334.048 C574.504,333.952 574.872,333.816 575.144,333.64 C575.432,333.448 575.632,333.232 575.744,332.992 C575.872,332.736 575.936,332.456 575.936,332.152 C575.936,331.624 575.776,331.216 575.456,330.928 C575.136,330.624 574.672,330.472 574.064,330.472 C573.52,330.472 573.024,330.592 572.576,330.832 C572.144,331.072 571.688,331.4 571.208,331.816 L569.432,329.656 C570.136,329.048 570.872,328.576 571.64,328.24 C572.424,327.888 573.288,327.712 574.232,327.712 C575.016,327.712 575.728,327.808 576.368,328 C577.024,328.176 577.576,328.448 578.024,328.816 C578.488,329.168 578.848,329.6 579.104,330.112 C579.36,330.624 579.488,331.216 579.488,331.888 C579.488,332.688 579.264,333.368 578.816,333.928 C578.384,334.472 577.76,334.92 576.944,335.272 L576.944,335.368 C577.824,335.624 578.544,336.064 579.104,336.688 C579.68,337.296 579.968,338.096 579.968,339.088 C579.968,339.792 579.816,340.424 579.512,340.984 C579.208,341.528 578.8,341.992 578.288,342.376 C577.776,342.744 577.176,343.032 576.488,343.24 C575.8,343.432 575.072,343.528 574.304,343.528 L574.304,343.528 Z',
				'M575.6,264.24 L575.6,260.592 L569,260.592 L569,258.168 L574.568,249 L578.888,249 L578.888,257.904 L580.64,257.904 L580.64,260.592 L578.888,260.592 L578.888,264.24 L575.6,264.24 L575.6,264.24 Z M572.384,257.904 L575.6,257.904 L575.6,255.432 C575.6,254.936 575.616,254.368 575.648,253.728 C575.68,253.072 575.712,252.504 575.744,252.024 L575.648,252.024 C575.456,252.44 575.256,252.864 575.048,253.296 C574.84,253.728 574.624,254.16 574.4,254.592 L572.384,257.904 L572.384,257.904 Z',
				'M575.376,201.528 C574.128,201.528 573.072,201.328 572.208,200.928 C571.344,200.512 570.608,200 570,199.392 L571.584,197.16 C572.048,197.576 572.544,197.936 573.072,198.24 C573.616,198.528 574.216,198.672 574.872,198.672 C575.656,198.672 576.28,198.472 576.744,198.072 C577.208,197.672 577.44,197.08 577.44,196.296 C577.44,195.528 577.216,194.944 576.768,194.544 C576.336,194.144 575.76,193.944 575.04,193.944 C574.816,193.944 574.616,193.96 574.44,193.992 C574.264,194.008 574.088,194.048 573.912,194.112 C573.752,194.176 573.576,194.256 573.384,194.352 C573.208,194.448 573.008,194.568 572.784,194.712 L571.2,193.704 L571.632,186 L580.272,186 L580.272,188.976 L574.68,188.976 L574.416,191.832 C574.704,191.704 574.976,191.616 575.232,191.568 C575.504,191.504 575.8,191.472 576.12,191.472 C576.776,191.472 577.392,191.568 577.968,191.76 C578.56,191.952 579.08,192.24 579.528,192.624 C579.976,193.008 580.328,193.496 580.584,194.088 C580.84,194.68 580.968,195.384 580.968,196.2 C580.968,197.048 580.816,197.8 580.512,198.456 C580.208,199.112 579.8,199.672 579.288,200.136 C578.776,200.584 578.176,200.928 577.488,201.168 C576.816,201.408 576.112,201.528 575.376,201.528 L575.376,201.528 Z',
				'M576.76,152.816 C576.024,152.816 575.304,152.672 574.6,152.384 C573.912,152.096 573.296,151.648 572.752,151.04 C572.224,150.432 571.8,149.656 571.48,148.712 C571.16,147.752 571,146.6 571,145.256 C571,143.832 571.168,142.6 571.504,141.56 C571.856,140.52 572.312,139.664 572.872,138.992 C573.448,138.32 574.104,137.824 574.84,137.504 C575.592,137.168 576.368,137 577.168,137 C578.176,137 579.048,137.184 579.784,137.552 C580.52,137.904 581.128,138.328 581.608,138.824 L579.76,140.936 C579.488,140.648 579.136,140.4 578.704,140.192 C578.272,139.968 577.832,139.856 577.384,139.856 C576.968,139.856 576.576,139.936 576.208,140.096 C575.84,140.256 575.512,140.528 575.224,140.912 C574.952,141.28 574.728,141.768 574.552,142.376 C574.376,142.984 574.272,143.728 574.24,144.608 C574.432,144.352 574.656,144.128 574.912,143.936 C575.168,143.728 575.432,143.56 575.704,143.432 C575.976,143.288 576.248,143.184 576.52,143.12 C576.792,143.04 577.048,143 577.288,143 C577.944,143 578.544,143.096 579.088,143.288 C579.648,143.48 580.128,143.768 580.528,144.152 C580.944,144.536 581.264,145.024 581.488,145.616 C581.712,146.208 581.824,146.904 581.824,147.704 C581.824,148.504 581.688,149.216 581.416,149.84 C581.144,150.464 580.776,151 580.312,151.448 C579.864,151.896 579.328,152.24 578.704,152.48 C578.096,152.704 577.448,152.816 576.76,152.816 L576.76,152.816 Z M576.688,150.176 C577.216,150.176 577.664,149.984 578.032,149.6 C578.416,149.2 578.608,148.568 578.608,147.704 C578.608,146.888 578.416,146.32 578.032,146 C577.664,145.664 577.192,145.496 576.616,145.496 C576.216,145.496 575.808,145.616 575.392,145.856 C574.992,146.08 574.632,146.464 574.312,147.008 C574.392,147.616 574.512,148.12 574.672,148.52 C574.832,148.92 575.016,149.248 575.224,149.504 C575.432,149.744 575.656,149.92 575.896,150.032 C576.152,150.128 576.416,150.176 576.688,150.176 L576.688,150.176 Z',
				'M621.76,152.24 C621.824,150.976 621.936,149.816 622.096,148.76 C622.272,147.688 622.512,146.672 622.816,145.712 C623.136,144.736 623.536,143.784 624.016,142.856 C624.512,141.928 625.12,140.968 625.84,139.976 L619,139.976 L619,137 L629.608,137 L629.608,139.16 C628.728,140.232 628.016,141.24 627.472,142.184 C626.944,143.112 626.528,144.08 626.224,145.088 C625.936,146.08 625.728,147.152 625.6,148.304 C625.472,149.44 625.376,150.752 625.312,152.24 L621.76,152.24 L621.76,152.24 Z',
			],
			shapes: [
				{
					id: '1entran',
					path:
						'587 347.32723 587 384.688515 678.676338 384.688515 678.676336 327.06393 633.096796 327 633.096794 347.32723',
				},
				{
					id: '2entran',
					path:
						'584.81781 384.70578 565.868164 384.70578 565.868164 412.79565 520 412.79565 520 366.000001 584.81781 366',
				},
				{
					id: '2entran',
					path:
						'584.81781 366 584.81781 347.29422 565.868164 347.29422 565.868164 299 520 299 520 365.999999',
				},
				{
					id: '3entran',
					path:
						'584.81781 246.364824 565.868164 246.364824 565.868164 296.006959 520 296.006959 520 227.136957 584.81781 227.136956',
				},
				{
					id: '3entran',
					path:
						'584.81781 226.870548 584.81781 207.642529 565.868164 207.642529 565.868164 158 520 158 520 226.870548',
				},
				{
					id: '4entran',
					path:
						'565.923862 154.908363 520 154.908363 520 90 600.192558 90 600.192558 135.014858 565.923862 135.014858',
				},
				{
					id: '4entran',
					path:
						'600 135.005156 600 90 677.841835 90 677.841835 155.244166 632.324738 155.244166 632.324738 135.005156',
				},
			],
			lines: [
				{
					id: '4entran',
					path: 'M600.5,92.9941227 L600.5,132.002688',
				},
				{
					id: '3entran',
					path: 'M523.006837,227.5 L581.786588,227.5',
				},
				{
					id: '2entran',
					path: 'M523.027894,365.5 L581.789357,365.5',
				},
			],
		}
	},
	methods: {
		handleClick(item) {
			this.handleEntrance(item)
		},
	},
}
</script>

<style>
.active-entrance {
	fill: #149778;
	stroke: #149778;
}

.entrance-num {
	cursor: pointer;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	.svgLayout {
		margin-left: calc((100% - 161px)/2);
	}
}
</style>
