<template>
  <div class="full main">
    <mainDisplay @mounted="handleMounted"/>
    <about :first="about[0].first" :second="about[0].second" :add_romb="true" :hasId="true"/>
    <features
      :title="this.features[0].title"
      :subTitle="this.features[0].subtitle"
      :about="this.features[0].text"
      :hasId="true"
    />
    <bubbles/>
    <features
      :title="features[1].title"
      :subTitle="features[1].subtitle"
      :about="features[1].text"
    />
    <technologies/>
    <slider2/>
    <album :hasId="true"/>
    <features
      :title="features[2].title"
      :subTitle="features[2].subtitle"
      :about="features[2].text"
    />
    <about :first="about[1].first" :second="about[1].second" :add_romb="false"/>
    <features
      :title="features[3].title"
      :subTitle="features[3].subtitle"
      :about="features[3].text"
    />
    <Footer/>
  </div>
</template>

<script>
import './style.scss'
import MainDisplay from './main-display/MainDisplay.vue'
import About from './about/About.vue'
import Features from './features/Features.vue'
import Bubbles from './bubble/Bubbles.vue'
import Technologies from './tech/Technology.vue'
import Album from './album/Album.vue'
import Footer from './footer/Footer.vue'
import Slider2 from './slider/Slider2'

export default {
	name: 'Main',
	components: {
		MainDisplay,
		About,
		Features,
		Bubbles,
		Technologies,
		Slider2,
		Album,
		Footer,
	},
	data() {
		return {
			loaded: false,
			features: [
				{
					title: 'Особенности',
					subtitle: 'Качество в деталях',
					text:
						'«Горное Солнце» - это прямая геометрия, использование гладкого металла и стекла, рациональное использование внутреннего пространства и современные строительные материалы и технологии. Дом просто продуман до мелочей!',
				},
				{
					title: 'Особенности',
					subtitle: 'Технологии строительства',
					text:
						'В жилом комплексе «Горное Солнце» вы можете не переживать за качество и надежность. Контроль процесса застройки квалифицированными инженерами, высокая сейсмостойкость и использование экотехнологий позволили построить дом, в котором вы будете чувствовать себя максимально комфортно.',
				},
				{
					title: 'Особенности',
					subtitle: 'Интерьерные решения',
					text:
						'В "Горном солнце" вам больше не нужно переживать из-за длительного ремонта - все квартиры в чистовой отделке.',
				},
				{
					title: 'О нас',
					subtitle: 'О застройщике',
					text:
						'Застройщик жилого комплекса «Горное Солнце» - жилищно-строительный кооператив «Таулы Аспан». Компания занимается строительством жилья с 1990-х годов. В истории их проектов жилые комплексы «White Fort» и «Фаворит», частные коттеджи и коммерческие объекты.',
				},
			],
			about: [
				{
					first: [
						{
							title: 'О комплексе',
							subtitle: 'Создавая ваше настроение',
							text: [
								'Жилой комплекс «Горное Солнце» – дом, где все сделано с умом.',
							],
							src: '/static/images/about_1.png',
							button: true,
							buttonText: 'Подробнее',
						},
						{
							title: '',
							subtitle: 'Создавая ваше настроение',
							text: [
								'Обратите внимание, «Горное Солнце» - это уникальное здание, построенное с применением современных материалов и технологий в соответствии с мировыми стандартами строительства, экологической безопасности и энергоэффективности.',
								'Жилой комплекс находится в одном из лучших и экологически чистых районов Алматы, состоит из 139 квартир и занимает общую площадь в 27 859 м2. Дом уже сдан в эксплуатацию.',
								'В «Горном Солнце» всего четыре этажа, а это значит, что здесь вас и ваших близких ждет минимум соседей, уединение, уют и всегда хорошее настроение!',
								'Акт приемки объекта в эксплуатацию №1537 от 21.12.17',
							],
						},
					],
					second: [
						{
							title: 'Месторасположение',
							subtitle: 'Необходимое - рядом',
							text: [
								'Жилой комплекс «Горное Солнце» расположен в микрорайоне Баганашыл, выше проспекта Аль-Фараби.  Там, где есть все для комфортной жизни!',
							],
							button: true,
							buttonText: 'Карта',
							imgs: ['/static/images/about_2.png'],
						},
						{
							title: 'Месторасположение',
							subtitle: 'Необходимое - рядом',
							text: [
								'Это современный район с развитой инфраструктурой. Поблизости вы сможете найти бизнес-центры, торгово-развлекательные комплексы и детские заведения.',
								'Посмотрите, рядом - частная школа «Мирас», международная школа «Haileybury», детские сады – «Маленький гений», «Мурагер» и британский детский сад «Tender Care».',
								'По соседству Научный центр педиатрии и детской хирургии, недалеко находится городская поликлиника, парк им. Огневого, торгово-развлекательные центры Mega Almaty и Esentai Mall, а также Villa dei Fiori и гольф-клуб «Ариал».',
							],
							src: '/static/images/about_2.png',
						},
						{
							title: 'Месторасположение',
							subtitle: 'В шаге от природы',
							text: [
								'Перед «Горным Солнцем» располагается большой хвойный сквер,  который отделяет его от проспекта Аль-Фараби. Из большинства окон комплекса открывается живописный вид на горы Заилийского Алатау и городские достопримечательности.',
							],
							src: '/static/images/about_2.png',
						},
					],
				},
				{
					first: [
						{
							title: 'Интерьерные решения',
							subtitle: 'Чистовая отделка европейского качества',
							text: [
								'У нас никто не будет сверлить за стеной с ночи и до утра - все квартиры в чистовой отделке. При этом мы гарантируем качество! Большинство строительных и отделочных материалов производятся в Италии, Франции, Германии и других европейских странах.',
							],
							src: '/static/images/about_3.png',
						},
					],
					second: [
						{
							title: 'Интерьерные решения',
							subtitle: 'Авторский дизайн на заказ',
							text: [
								'Если вы хотите сэкономить свое время и душевное равновесие, при покупке квартиры вы можете дополнительно заказать ремонт исключительного качества: авторский дизайн интерьера, строительные и отделочные материалы, сантехника и кухни европейского качества',
							],
							imgs: [
								'/static/images/about_4.png',
								'/static/images/about_4-1.png',
								'/static/images/about_4-2.png',
								'/static/images/about_4-3.png',
								'/static/images/about_4-4.png',
								'/static/images/about_4-5.png',
								'/static/images/about_4-6.png',
								'/static/images/about_4-7.png',
								'/static/images/about_4-8.png',
								'/static/images/about_4-9.png',
								'/static/images/about_4-10.png',
								'/static/images/about_4-11.png',
								'/static/images/about_4-12.png',
								'/static/images/about_4-13.png',
								'/static/images/about_4-14.png',
								'/static/images/about_4-15.png',
								'/static/images/about_4-16.png',
							],
						},
					],
				},
			],
		}
	},
	methods: {
		handleMounted: function() {
			this.$data.loaded = true
		},
	},
}
</script>
