@font-face {
	font-family: 'Source Sans Pro';
	src: url('/static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro light';
	src: url('/static/fonts/Source_Sans_Pro/SourceSansPro-Light.ttf')
		format('truetype');
}

@font-face {
	font-family: 'Source Sans Pro bold';
	src: url('/static/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf')
		format('truetype');
}

html,
body {
	margin: 0 !important;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-family: 'Source Sans Pro';
	max-width: 100vw;
}

a {
	text-decoration: none;
}

.full {
	width: 100%;
	height: 100vh;
	max-width: 100vw;
}

.full-width {
	width: 100%;
	max-height: 100vh;
	max-width: 100vw;
}

.full-height {
	height: 100%;
}

.width {
	&_xs {
		width: 400px;
		max-width: 100vw;
	}

	&_s {
		width: 583px;
		max-width: 100vw;
	}

	&_m {
		width: calc(100% - 120px);
		margin: 0 auto;
	}
}

.height {
	height: 100%;
	max-height: 100vh;

	&_xs {
		height: 500px;
		max-height: 100vh;
	}

	&_s {
		height: 300px;
		max-height: 100vh;
	}

	&_l {
		height: 1000px;
		max-height: 100vh;
	}
}

.flex {
	display: flex;

	&_column {
		flex-direction: column;
	}

	&_center {
		justify-content: center;
		align-items: center;
	}

	&_end {
		justify-content: flex-end;
	}

	&_align-center {
		align-items: center;
	}

	&_align-flex-start {
		align-items: flex-start;
	}

	&_justify-center {
		justify-content: center;
	}

	&_justify-between {
		justify-content: space-between;
	}

	&_wrap {
		flex-wrap: wrap;
	}
}

.half {
	width: 50%;
	max-width: 100vw;
}

.bg {
	&_green {
		background-color: #149778;
	}

	&_gray {
		background-color: #f3f3f3;
	}

	&_dark-gray {
		background-color: #dcdcdc;
	}

	&_light-gray {
		background-color: #eceae7;
	}
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;

	&_bottom {
		bottom: 0;
	}

	&_top {
		top: 0;
	}

	&_right {
		right: 0;
	}
}

.paragraph {
	font-family: 'Source Sans Pro light';
	font-style: normal;
	line-height: normal;
	font-size: 1.125rem;
	color: #ffffff;

	&_light {
		font-weight: normal;
	}

	&_normal {
		color: #616262;
	}

	&_gray {
		color: #999999;
	}

	&_dark {
		color: #2c2b2d;
	}

	&_green {
		color: #149778;
	}

	&_s {
		font-size: 1.125rem;
	}

	&_m {
		font-size: 1.25rem;
	}

	&_xl {
		font-size: 1.375rem;
	}
}

.title {
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: bold;
	line-height: normal;
	font-size: 1.875rem;
	color: #ffffff;

	&_s {
		font-size: 1.5rem;
	}

	&_m {
		font-size: 2rem;
	}

	&_l {
		font-size: 2.875rem;
	}

	&_xl {
		font-size: 3rem;
	}

	&_dark {
		color: #2c2b2d;
	}

	&_green {
		color: #149778;
	}

	&_normal {
		color: #616262;
	}

	&_center {
		text-align: center;
	}
}

.left {
	&_xs {
		padding-left: 43px;
	}

	&_l {
		padding-left: 170px;
	}
}

.right {
	&_xs {
		padding-right: 20px;
	}
}

.button {
	width: 160px;
	height: 50px;
	margin-left: 41px;
	border: 2px solid #ffffff;
	box-sizing: border-box;
	border-radius: 5px;
	text-align: center;
	line-height: 42px;
	color: #ffffff;
	font-family: 'Source Sans Pro';
	font-style: normal;
	font-weight: 600;
	font-size: 1.375rem;
	cursor: pointer;
	-webkit-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-moz-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	-o-transition: background-color 0.3s ease-in, color 0.3s ease-in;
	transition: background-color 0.3s ease-in, color 0.3s ease-in;

	&_normal {
		color: #616262;
		border: 2px solid #616262;

		&:hover {
			color: #ffffff;
			background-color: #616262;
		}
	}

	&_green {
		color: #ffffff;
		border: 2px solid #149778;

		&_m {
			width: 160px;
			height: 50px;
			line-height: 42px;
		}

		&__filled {
			background: #149778;
		}
	}

	&_center {
		margin: 0 auto;
	}
}

.margin-left {
	&_xs {
		margin-left: 36px;
	}

	&_s {
		margin-left: 52px;
	}
}

.margin-top {
	&_xxs {
		margin-top: 10px;
	}

	&_xs {
		margin-top: 13px;
	}

	&_m {
		margin-top: 45px;
	}

	&_l {
		margin-top: 66px;
	}
}
