<template>
  <div class="features full_width" :id="hasId ? 'features' : ''">
    <div
      data-aos="fade-in"
      data-aos-delay="200"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="paragraph paragraph_gray"
    >{{title}}</div>
    <div
      data-aos="fade-in"
      data-aos-delay="200"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="title title_dark title_l"
    >{{subTitle}}</div>
    <div
      data-aos="fade-in"
      data-aos-delay="200"
      data-aos-duration="1000"
      data-aos-easing="ease-in-out"
      class="paragraph paragraph_dark about paragraph_m"
    >{{ about }}</div>
  </div>
</template>

<script>
import './features.scss'
export default {
	name: 'Features',
	props: ['title', 'subTitle', 'about', 'hasId'],
	data() {
		return {}
	},
}
</script>
