$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';

.features {
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f9f8f6;
	background-image: url('/static/images/rombs_long.png');

	.paragraph {
		width: 100%;
		text-align: center;
		padding-top: 33px;
	}

	.about {
		max-width: 908px;
		text-align: center;
	}

	.title {
		text-align: center;
		margin-top: 30px;
	}
}

@media #{$tablet_screen} {
	.features {
		height: auto;
		padding-bottom: 30px;

		.paragraph {
			padding-top: 30px;
		}

		.about {
			width: 90%;
		}
	}
}

@media #{$phone_screens} {
	.features {
		height: auto;
		padding-bottom: 30px;

		.title_l {
			font-size: 1.5rem;
		}

		.paragraph {
			padding-top: 30px;
			font-size: 0.875rem;
		}

		.about {
			width: 90%;
		}
	}
}

@media #{$phone_screens2} {
	.features {
		height: auto;
		padding-bottom: 30px;

		.title_l {
			font-size: 1.5rem;
		}

		.paragraph {
			padding-top: 30px;
			font-size: 0.875rem;
		}

		.about {
			width: 90%;
		}
	}
}
