$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 4)';

.footer {
	height: 280px;
	border-top: 1px dashed #616262;
	background: #149778;

	.content {
		margin: 60.35px 55px 0;

		.footer-box {
			width: 33%;

			.inner-box {
				margin-top: 10px;
				.paragraph {
					margin-bottom: 5px !important;
					a {
						color: #ffffff;
						cursor: pointer;

						&:hover {
							text-decoration: underline;
						}
					}
				}

				.icon {
					margin-right: 23px;

					&_location {
						width: 10px;
						height: 14px;
					}

					&_phone {
						width: 14px;
						height: 14px;
					}

					&_message {
						width: 14px;
						height: 10px;
					}
				}
			}
		}
	}

	.social-media2 {
		bottom: 44px;
		width: 100%;
		padding-right: 140px;
		box-sizing: border-box;

		.icons {
			margin-left: 38px;
			cursor: pointer;

			.sm-icon {
				margin-right: 23.45px;

				.fb {
					width: 11px;
					height: 21px;
				}

				.vk {
					width: 19px;
					height: 11px;
				}

				.insta {
					width: 19px;
					height: 20px;
				}
			}
		}
	}
}

@media #{$tablet_screen} {
	.footer {
		height: 420px;

		.content {
			flex-wrap: wrap;
			margin: 60.35px 90px 0;

			.footer-box {
				width: 50%;
				margin-bottom: 45px;
			}
		}

		.social-media2 {
			justify-content: start;
			padding-left: 90px;
			bottom: 25px;
		}
	}
}

@media #{$phone_screens} {
	.footer {
		height: 420px;

		.content {
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: center;
			margin: 40.35px 10px 0;

			.footer-box {
				width: auto;
				margin-bottom: 40px;
				&:last-child {
					display: none;
				}

				.paragraph {
					text-align: center;
				}
				.inner-box div {
					justify-content: center;
					margin-bottom: 4px;
				}
			}
		}

		.social-media2 {
			justify-content: space-around;
			padding: 0;
			.icons {
				margin-left: 10px;
			}

			.copy {
				padding-left: 10px;
			}
		}
	}
}

@media #{$phone_screens2} {
	.footer {
		height: 420px;

		.content {
			flex-wrap: wrap;
			justify-content: center;
			margin: 40.35px 10px 0;

			.footer-box {
				width: auto;
				margin-bottom: 40px;
				&:last-child {
					display: none;
				}

				.paragraph {
					text-align: center;
				}
			}
		}

		.social-media2 {
			justify-content: space-around;
			padding: 0;
			.icons {
				margin-left: 10px;
			}

			.copy {
				padding-left: 10px;
			}
		}
	}
}
