<template>
  <div class="footer relative">
    <div
      class="content flex"
      data-aos="fade-in"
      data-aos-duration="300"
      data-aos-easing="ease-in-out"
    >
      <div class="footer-box">
        <div class="paragraph">Карта сайта</div>
        <div class="inner-box">
          <div class="paragraph paragraph_light" v-for="(item, i) in menu" :key="i">
            <a :href="item.href" v-smooth-scroll="{ duration: 1000, offset: -50}">{{item.title}}</a>
          </div>
        </div>
      </div>
      <div class="footer-box">
        <div class="paragraph">Связаться с нами</div>
        <div class="inner-box">
          <div v-for="(item, i) in contacts" :key="i" class="flex flex_align-center margin-top_xxs">
            <img :src="item.src" :class="`icon icon_${item.name}`" alt>
            <div class="paragraph paragraph_light">{{item.text}}</div>
          </div>
        </div>
      </div>
      <div class="footer-box">
        <div class="paragraph">Обратная связь</div>
        <div class="inner-box">
          <div class="flex flex_align-center inputb-wrapper">
            <input
              v-model="value"
              placeholder="Email"
              :class="incorrectEmail ? 'red-input input' : 'input'"
            >
            <div class="form-btn" @click="handleSubmit()">Отправить</div>
          </div>
        </div>
      </div>
    </div>
    <div class="social-media2 flex absolute flex_end">
      <div class="copy paragraph paragraph_light">&copy; Горное Солнце 2018</div>
      <div class="icons flex">
        <div class="sm-icon">
          <a href="https://www.facebook.com/gornoesolnce.kz/">
            <img src="/static/icons/fb.png" class="fb" alt>
          </a>
        </div>
        <div class="sm-icon">
          <a href="https://vk.com/id342444634">
            <img src="/static/icons/vk.png" class="vk" alt>
          </a>
        </div>
        <div class="sm-icon">
          <a href="https://www.instagram.com/gornoe_solnce/">
            <img src="/static/icons/insta.png" class="insta" alt>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import './footer.scss'
import InputB from '../tools/InputB/InputB.vue'
import Catalog from '../album/catalog.js'

export default {
	name: 'Footer',
	data() {
		return {
			menu: [
				{
					href: '#about',
					title: 'О комлексе',
				},
				{
					href: '#features',
					title: 'Особенности',
				},
				{
					href: '#layouts',
					title: 'Планировки',
				},
			],
			contacts: [
				{
					name: 'location',
					text: 'Алматы, пр.Аль-Фараби, 144',
					src: '/static/icons/location.png',
				},
				{
					name: 'phone',
					text: '+7 778 003 03 69, +7 700 978 80 34',
					src: '/static/icons/phone.png',
				},
				{
					name: 'message',
					text: 'sales@gornoesolnce.kz',
					src: '/static/icons/message.png',
				},
			],
			value: '',
			incorrectEmail: true,
		}
	},
	methods: {
		validateEmail(email) {
			var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
			return re.test(String(email).toLowerCase())
		},
		handleSubmit() {
			if (!this.validateEmail(this.value)) {
				alert('Неправильный формат email адреса')
				return
			}

			Catalog.submitOnlyEmail({
				apNumber: 0,
				clientEmail: this.value,
				clientName: '',
				clientNumber: '',
				preferredTime: '',
			})
				.then(res => {
					alert('Ваша заявка принята.')
					this.value = ''
				})
				.catch(res => {
					alert('Произошла ошибка, пожалуйста попробуйте еще раз.')
				})
		},
	},
}
</script>
