<template>
  <div class="technologies">
    <div class="slider-page">
      <Slider></Slider>
    </div>
  </div>
</template>
<script>
import Slider from './Slider/Slider.vue'
export default {
	name: 'Technology',
	components: {
		Slider,
	},
}
</script>

<style>
.technologies {
	width: 90%;
	text-align: center;
	color: #2c2b2d;
	height: 500px;
	margin: 0 auto;
	position: relative;
	margin-top: 40px;
	margin-bottom: 40px;
}
</style>