$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';

.technologies {
	width: 80%;
	margin: 0 auto;
	height: 1000px;

	.tech-item {
		position: relative;
		margin-right: 1%;
		width: 48%;
		height: 500px;
	}

	.technology-paragraph {
		max-width: 496px;
	}

	.tech-box {
		position: absolute;
		top: 40%;
		left: 100px;
	}

	.tech-img {
		right: 100px;
		top: 58px;
	}
}

@media #{$tablet_screen} {
	.technologies {
		height: auto;
		.flex {
			.half {
				width: 90%;
			}
		}
	}
}

@media #{$phone_screens} {
	.technologies {
		width: 96%;
		height: auto;
		.flex {
			justify-content: center;

			.half {
				width: 90%;
			}

			.tech-item {
				height: 250px;

				.tech-img {
					right: 0;
					width: 200px;
					height: 200px;

					img {
						width: 167px;
					}
				}

				.tech-box {
					top: 40%;
					left: 0;

					.title {
						font-size: 1.5rem;
					}

					.paragraph {
						font-size: 1rem;
					}
				}
			}
		}
	}
}

@media #{$phone_screens2} {
	.technologies {
		width: 96%;
		height: auto;
		.flex {
			justify-content: center;

			.half {
				width: 90%;
			}

			.tech-item {
				height: 250px;

				.tech-img {
					right: 0;
					width: 200px;
					height: 200px;

					img {
						width: 167px;
					}
				}

				.tech-box {
					top: 40%;
					left: 0;

					.title {
						font-size: 1.5rem;
					}

					.paragraph {
						font-size: 1rem;
					}
				}
			}
		}
	}
}
