<template>
  <div class="width_m bubbles-content">
    <transition name="bubble" v-if="!clicked">
      <div class="bubbles flex flex_center relative">
        <div
          class="socket-icon"
          data-aos="fade-in"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
          <img src="/static/icons/socket_green.png" alt>
        </div>
        <div
          class="bubble"
          data-aos="fade-in"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
          <img src="/static/icons/bubbles.png" alt>
        </div>
        <div
          class="quality"
          data-aos="fade-in"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
          <img src="/static/icons/quality.png" alt>
        </div>
        <div
          class="settings"
          data-aos="fade-in"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
          <img src="/static/icons/settings.png" alt>
        </div>
        <div
          class="parking"
          data-aos="fade-in"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
        >
          <img src="/static/icons/parking.png" alt>
        </div>
        <div class="docs" data-aos="fade-in" data-aos-duration="500" data-aos-easing="ease-in-out">
          <img src="/static/icons/docs.png" alt>
        </div>
        <div
          data-aos="fade-in"
          data-aos-delay="100"
          data-aos-duration="500"
          data-aos-easing="ease-in-out"
          class="absolute absolute_top absolute_right socket flex flex_center info-animation"
        >
          <img :src="cur_img" alt>
          <div class="paragraph paragraph_dark title_m socket-title">{{paragraph}}</div>
        </div>
        <div class="bubbles-wrapper">
          <div
            data-aos="fade-in"
            data-aos-delay="100"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            class="title title_normal title_xl"
          >{{title}}</div>
          <div
            data-aos="fade-in"
            data-aos-delay="100"
            data-aos-duration="500"
            data-aos-easing="ease-in-out"
            class="button button_green button_green_m button_center relative"
            @click="this.handleClick"
          >Подробнее
            <div class="icon"></div>
          </div>
        </div>
      </div>
    </transition>
    <transition name="bubble" v-if="clicked">
      <div class="bubbles-details">
        <div class="info-wrapper flex flex_wrap">
          <div class="bubble-info flex flex_center" v-for="(item, i) in data" :key="i">
            <div
              data-aos="fade-in"
              data-aos-delay="100"
              data-aos-duration="500"
              data-aos-easing="ease-in-out"
              class="icon"
            >
              <img :src="item.icon" alt>
            </div>
            <div
              data-aos="fade-in"
              data-aos-delay="500"
              data-aos-duration="1500"
              data-aos-easing="ease-in-out"
              class="data"
            >
              <div class="title title_normal title_s">{{item.title}}</div>
              <div class="paragraph paragraph_normal paragraph_light">{{item.text}}</div>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import './bubbles.scss'
import './bubble-effect.js'

export default {
	name: 'Bubbles',
	data() {
		return {
			title: 'Все для твоего комфорта',
			cur_img: '/static/images/parking_gray.png',
			paragraph: 'Удобный паркинг',
			clicked: false,
			data: [
				{
					icon: '/static/icons/bubbles.png',
					title: 'Чистый воздух',
					text:
						'Близость к горам и отсутствие рядом с жилым комплексом высотных зданий обеспечивают идеальную циркуляцию воздушных потоков. Это позволит вам и вашей семье наслаждаться свежим горным бризом круглые сутки!',
				},
				{
					icon: '/static/icons/parking.png',
					title: 'Удобный паркинг',
					text:
						'Подземный двухуровневый паркинг на 207 мест имеет доступ к лифту, а также автоматизированный въезд и выезд. Места хватит всем: вам и вашим гостям.',
				},
				{
					icon: '/static/icons/quality.png',
					title: 'Безопасность',
					text:
						'По всему периметру жилого комплекса работает система видеонаблюдения и служба охраны - они контролируют пропуск транспорта и гостей на территорию комплекса. Теперь вы и ваши близкие всегда будете в безопасности!',
				},
				{
					icon: '/static/icons/docs.png',
					title: 'Инвентарные помещения',
					text:
						'В подземном паркинге есть инвентарные помещения, где вы сможете хранить все предметы, которые занимают лишнее пространство в квартире. Например, автомобильные шины или велосипед.',
				},
				{
					icon: '/static/icons/settings.png',
					title: 'Собственная коммунальная служба',
					text:
						'Квалифицированная коммунальная служба жилого комплекса оперативно поможет вам в любой ситуации. Все технические системы находятся под мониторингом завода-изготовителя и обслуживаются нашими специалистами.',
				},
				{
					icon: '/static/icons/socket_green.png',
					title: 'Собственная котельная',
					text:
						'В «Горном солнце» есть собственная котельная и солнечные батареи, которые мы используем для отопления помещений и нагрева воды. В вашей квартире всегда будет тепло и вы сможете экономить на коммунальных платежах от 30 до 50%!',
				},
			],
			allInfo: [
				{
					img: '/static/images/parking_gray.png',
					text: 'Удобный паркинг',
				},
				{
					img: '/static/images/docs_gray.png',
					text: 'Инвентарные помещения',
				},
				{
					img: '/static/images/quality_gray.png',
					text: 'Безопасность',
				},
				{
					img: '/static/icons/socket_gray.png',
					text: 'Собственная котельная',
				},
				{
					img: '/static/images/bubbles_gray.png',
					text: 'Чистый воздух',
				},
				{
					img: '/static/images/settings_gray.png',
					text: 'Собственная коммунальная служба',
				},
			],
			index: 0,
		}
	},
	mounted() {
		this.changeInfo(this)
		var w = $(window).width()

		if (w <= 500) {
			this.clicked = true
		}
	},
	methods: {
		handleClick() {
			this.clicked = !this.clicked
		},
		changeInfo() {
			setInterval(
				function() {
					this.index = (this.index + 1) % 6
					this.cur_img = this.allInfo[this.index].img
					this.paragraph = this.allInfo[this.index].text
				}.bind(this),
				4000
			)
		},
	},
}
</script>

<style>
@keyframes info_animation {
	0% {
		opacity: 0;
	}
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.info-animation {
	animation-name: info_animation;
	animation-duration: 4000ms;
	animation-iteration-count: infinite;
}
</style>
