$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$tablet_landscape: 'only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';

.bubbles {
	width: 100%;
	height: 900px;

	.bubbles-wrapper {
		.button {
			margin-top: 60px;
			padding-right: 20px;
			color: #149778;
			-webkit-transition: background-color 0.5s ease-out, color 0.5s ease-in;
			-moz-transition: background-color 0.5s ease-out, color 0.5s ease-in;
			-o-transition: background-color 0.5s ease-out, color 0.5s ease-in;
			transition: background-color 0.5s ease-out, color 0.5s ease-in;

			&:hover {
				color: #ffffff;
				background-color: #149778;

				.icon {
					background-image: url('/static/icons/arrow.png');
				}
			}

			.icon {
				width: 18px;
				height: 10px;
				position: absolute;
				bottom: 18px;
				right: 10px;
				background-image: url('/static/icons/arrow_green.png');
				background-size: contain;
				background-repeat: no-repeat;
				-webkit-transition: background-image 0.5s ease-in-out;
				-moz-transition: background-image 0.5s ease-in-out;
				-o-transition: background-image 0.5s ease-in-out;
				transition: background-image 0.5s ease-in-out;
			}
		}
	}

	// @keyframes info_animation {
	// 	0% {
	// 		opacity: 0;
	// 	}
	// 	25% {
	// 		opacity: 0;
	// 	}
	// 	50% {
	// 		opacity: 0.5;
	// 	}
	// 	55% {
	// 		opacity: 0;
	// 	}
	// 	75% {
	// 		opacity: 0;
	// 	}
	// 	100% {
	// 		opacity: 0;
	// 	}
	// }

	// .info-animation {
	// 	animation-name: info_animation;
	// 	animation-duration: 4000ms;
	// 	animation-iteration-count: infinite;
	// }

	.socket {
		margin-top: 39px;
		width: 280px;

		.socket-title {
			margin-left: 21px;
			width: 172px;
		}
	}
}

.bubble,
.socket-icon,
.quality,
.settings,
.parking,
.docs {
	position: absolute;
}

.bubble {
	left: 34%;
	top: 10%;
}

.socket-icon {
	left: 10%;
	top: 40%;
}

.quality {
	left: 68%;
	top: 22%;
}

.docs {
	left: 20%;
	top: 70%;
}

.parking {
	left: 84%;
	top: 50%;
}

.settings {
	left: 52%;
	top: 80%;
}

.info-wrapper {
	width: 100%;
	height: 100%;
	padding: 99px 80px;
	box-sizing: border-box;
}

.bubble-info {
	height: 200px;
	width: 50%;

	.icon {
		width: 14%;
		margin-right: 30px;
		padding-left: 20px;

		img {
			width: 100%;
		}
	}

	.data {
		width: 77%;

		// .paragraph {
		// 	word-break: break-all;
		// }
	}
}

.bubble-enter-active {
	transition: all 3s ease;
}
.bubble-leave-active {
	transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}
.bubble-enter, .bubble-leave-to
/* .bubble-leave-active below version 2.1.8 */ {
	transform: translateX(10px);
	opacity: 1;
}

@media #{$tablet_screen} {
	.bubbles-content {
		width: 96%;
	}

	.bubble {
		left: 20%;
		top: 14%;
	}

	.socket-icon {
		left: 0;
		top: 40%;
	}

	.quality {
		left: 78%;
		top: 22%;
	}

	.docs {
		left: 20%;
		top: 70%;
	}

	.parking {
		left: 84%;
		top: 50%;
	}

	.settings {
		left: 52%;
		top: 80%;
	}

	.bubbles-details {
		height: auto;

		.info-wrapper {
			width: 76%;
			padding: 0;
			margin: 0 auto;

			.bubble-info {
				width: 100%;
				height: 215px;

				.icon {
					margin-right: 60px;
				}
			}
		}
	}
}

@media #{$phone_screens} {
	.bubbles {
		align-items: flex-start;
		padding-top: 150px;

		.socket {
			img {
				width: 60px;
			}

			.paragraph {
				font-size: 1.5rem;
			}
		}

		.bubbles-wrapper {
			.title {
				font-size: 1.125rem;
			}

			.button {
				margin-top: 40px;
			}
		}
	}

	.bubbles-content {
		width: 96%;

		.bubbles-details {
			.info-wrapper {
				padding: 30px;
				width: 100%;

				.bubble-info {
					width: 100%;
					height: auto;
					margin-bottom: 40px;

					flex-direction: column;
					align-items: flex-start;

					.data {
						width: 100%;
					}
					.icon {
						width: 30%;
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	.bubble {
		left: 20%;
		top: 32%;
	}

	.socket-icon {
		left: 0;
		top: 54%;
	}

	.quality {
		left: 68%;
		top: 42%;
	}

	.docs {
		left: 13%;
		top: 70%;
	}

	.parking {
		left: 74%;
		top: 60%;
	}

	.settings {
		left: 52%;
		top: 80%;
	}
}

@media #{$tablet_landscape} {
	.bubbles-content {
		width: 96%;
	}

	.bubble {
		left: 20%;
		top: 14%;
	}

	.socket-icon {
		left: 0;
		top: 40%;
	}

	.quality {
		left: 78%;
		top: 22%;
	}

	.docs {
		left: 20%;
		top: 70%;
	}

	.parking {
		left: 84%;
		top: 50%;
	}

	.settings {
		left: 52%;
		top: 80%;
	}

	.bubbles-details {
		height: auto;

		.info-wrapper {
			width: 76%;
			padding: 0;
			margin: 0 auto;

			.bubble-info {
				width: 100%;
				height: 215px;

				.icon {
					margin-right: 60px;
				}
			}
		}
	}
}

@media #{$phone_screens2} {
	.bubbles {
		align-items: flex-start;
		padding-top: 150px;

		.socket {
			img {
				width: 60px;
			}

			.paragraph {
				font-size: 1.5rem;
			}
		}

		.bubbles-wrapper {
			.title {
				font-size: 1.125rem;
			}

			.button {
				margin-top: 40px;
			}
		}
	}

	.bubbles-content {
		width: 96%;

		.bubbles-details {
			.info-wrapper {
				padding: 30px;
				width: 100%;

				.bubble-info {
					width: 100%;
					height: auto;
					margin-bottom: 40px;

					flex-direction: column;
					align-items: flex-start;

					.data {
						width: 100%;
					}
					.icon {
						width: 30%;
						margin-bottom: 20px;
					}
				}
			}
		}
	}

	.bubble {
		left: 20%;
		top: 32%;
	}

	.socket-icon {
		left: 0;
		top: 54%;
	}

	.quality {
		left: 68%;
		top: 42%;
	}

	.docs {
		left: 13%;
		top: 70%;
	}

	.parking {
		left: 74%;
		top: 60%;
	}

	.settings {
		left: 52%;
		top: 80%;
	}
}
