<template>
  <div class="page full-width full-height main-display">
    <div class="full relative">
      <swiper :options="swiperOption" class="full-height" ref="mainSwiper">
        <swiper-slide>
          <div
            class="full flex main-display-content"
            style="background-image: url(/static/images/main.png)"
          >
            <div
              class="half main-logo"
              data-aos="fade-down"
              data-aos-duration="2000"
              data-aos-delay="1000"
            >
              <img src="/static/images/logo.png" alt class="logo">
            </div>
            <div class="half main-wrapper">
              <div class="main main_title" data-aos="fade-left">Дом с хорошим настроением</div>
            </div>
          </div>
        </swiper-slide>
        <!-- <swiper-slide>
          <div
            class="full flex main-display-content"
            style="background-image: url(/static/images/old_man.png)"
          >
            <div class="banner absolute">
              <div class="banner-text">«ГОРНОЕ СОЛНЦЕ» ТЕК ЖАҚСЫ КӨҢІЛ КҮЙ ҮЙІ</div>
              <div class="banner-text">«ГОРНОЕ СОЛНЦЕ» ДОМ С ХОРОШИМ НАСТРОЕНИЕМ</div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div
            class="full flex main-display-content"
            style="background-image: url(/static/images/girl.png)"
          >
            <div class="banner absolute">
              <div class="banner-text">«ГОРНОЕ СОЛНЦЕ» ТЕК ЖАҚСЫ КӨҢІЛ КҮЙ ҮЙІ</div>
              <div class="banner-text">«ГОРНОЕ СОЛНЦЕ» ДОМ С ХОРОШИМ НАСТРОЕНИЕМ</div>
            </div>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div
            class="full flex main-display-content"
            style="background-image: url(/static/images/boy.png)"
          >
            <div class="banner absolute">
              <div class="banner-text">«ГОРНОЕ СОЛНЦЕ» ТЕК ЖАҚСЫ КӨҢІЛ КҮЙ ҮЙІ</div>
              <div class="banner-text">«ГОРНОЕ СОЛНЦЕ» ДОМ С ХОРОШИМ НАСТРОЕНИЕМ</div>
            </div>
          </div>
        </swiper-slide>-->
        <div class="bottom-menu absolute flex">
          <div class="box_3 flex flex_align-center flex_justify-between">
            <!-- <div class="my-pagination" slot="pagination">
              <div
                :class="`my-pagination-item ${activeIndex == i? activeClass : ''}`"
                v-for="(item, i) in items"
                :key="i"
              ></div>
            </div>-->
            <div class="menu flex flex_justify-between">
              <div class="paragraph">
                <a href="#about" v-smooth-scroll="{ duration: 1000, offset: -50}">О комплексе</a>
              </div>
              <div class="paragraph">
                <a href="#features" v-smooth-scroll="{ duration: 1000, offset: -50}">Особенности</a>
              </div>
              <div class="paragraph">
                <a href="#layouts" v-smooth-scroll="{ duration: 1000, offset: -50}">Планировки</a>
              </div>
            </div>
            <div class="flex callback flex_align-center flex_justify-between">
              <a href="https://www.facebook.com/gornoesolnce.kz/">
                <img src="/static/icons/fb.png" class="fb" alt>
              </a>
              <a href="https://vk.com/id342444634">
                <img src="/static/icons/vk.png" class="vk" alt>
              </a>
              <a href="https://www.instagram.com/gornoe_solnce/">
                <img src="/static/icons/insta.png" class="insta" alt>
              </a>
            </div>
          </div>
          <div class="box box_7 flex flex_align-center flex_justify-between">
            <div class="box-item box-item_xs">ТЕЛЕФОН ДЛЯ СПРАВОК:</div>
            <div class="box-item box-item_s">
              <a href="tel:+77780030369">+7 778 003 03 69</a>
            </div>
            <div class="box-item box-item_s">
              <a href="tel:+77279722727">+7 700 978 80 34</a>
            </div>
            <div class="box-item button wpp-btn flex">
              <a href="https://wa.me/77010317248">Whatsapp</a>
              <img src="/static/icons/whatsapp.png" class="wpp" alt>
            </div>
          </div>
        </div>
      </swiper>
    </div>
  </div>
</template>

<script>
import './main-display.scss'
export default {
	name: 'MainDisplay',
	data() {
		return {
			items: [
				'./static/images/main.png',
				'./static/svg/old_man.svg',
				'./static/svg/girl.svg',
				'./static/svg/boy.svg',
			],
			showDetails: false,
			swiperOption: {
				pagination: {
					el: '.swiper-pagination',
					type: 'bullets',
				},
				autoplay: {
					disableOnInteraction: false,
				},
				effect: 'fade',
				fadeEffect: {
					crossFade: true,
				},
			},
			activeClass: 'active-pagination',
			index: 0,
		}
	},
	computed: {
		swiper() {
			return this.$refs.mainSwiper.swiper
		},
		activeIndex() {
			return this.index
		},
	},
	mounted() {
		this.$emit('mounted')

		this.swiper.on('slideChange', () => {
			this.onSwipe(this)
		})
	},
	methods: {
		onSwipe() {
			this.index = this.swiper.activeIndex
		},
	},
}
</script>
