$retina_screen_laptops: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi)';
$tablet_screen: 'screen and (min-device-width: 768px) and (max-device-width: 1199px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2)';
$laptops: 'screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1)';
$tablet_landscape: 'only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1)';
$phone_screens2: 'only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-device-pixel-ratio: 4)';
$laptops2: 'screen and (min-device-width: 800px) and (max-device-width: 1200px) and (-webkit-min-device-pixel-ratio: 1)';

@font-face {
	font-family: 'Source Sans Pro';
	src: url('/static/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf')
		format('truetype');
}

.main-display {
	.banner {
		top: 55px;
		left: 46px;

		.banner-text {
			color: #fff;
			font-size: 2.5rem;
			width: 450px;
			margin-bottom: 30px;
		}
	}

	.bottom-menu {
		width: calc(100% - 120px);
		height: 60px;
		bottom: 0;
		left: 60px;

		.callback {
			padding-right: 30px;

			.fb {
				width: 15px;
				height: 27px;
				padding: 0 10px;
			}

			.vk {
				width: 25px;
				height: 14px;
				padding: 0 10px;
			}

			.insta {
				width: 25px;
				height: 25px;
				padding: 0 10px;
			}

			.arrow {
				cursor: pointer;
				width: 18px;
				height: auto;
				padding-top: 3px;
				padding-left: 20px;
				-webkit-transition: padding-left 0.5s ease-out;
				-moz-transition: padding-left 0.5s ease-out;
				-o-transition: padding-left 0.5s ease-out;
				transition: padding-left 0.5s ease-out;
			}
		}

		.box {
			&_3 {
				width: 50%;
				background: #149778;
				height: 60px;

				.menu {
					// border-left: 2px solid #fff;
					border-right: 2px solid #fff;

					.paragraph {
						padding: 0 50px;
						box-sizing: content-box;

						a {
							text-decoration: none;
							color: #ffffff;

							&:hover {
								text-decoration-line: underline;
							}
						}
					}
				}
			}

			&_7 {
				width: 50%;
				background: #ffffff;
				height: 60px;
				background-image: url('/static/images/menu-rombs.svg');

				.box-item {
					a {
						text-decoration: none;
						color: #2c2b2d;
						&:hover {
							text-decoration-line: underline;
						}
					}
				}
			}

			.wpp-btn {
				width: 115px;
				height: 30px;
				background: #149778;
				padding: 0 15px;

				.wpp {
					width: 20px;
					height: 20px;
					padding-top: 2px;
					padding-left: 10px;
				}

				a {
					color: #ffffff;
				}
			}

			.box-item {
				margin: 0 20px;
				color: #2c2b2d;
				font-weight: 600;
				font-family: 'Source Sans Pro';
				font-style: normal;

				&_xs {
					font-size: 0.75rem;
				}

				&_s {
					font-size: 1.375rem;
				}
			}

			.button {
				font-size: 0.75rem;
				line-height: 24px;
				-webkit-transition: background-color 0.5s ease-out, color 0.5s ease-in;
				-moz-transition: background-color 0.5s ease-out, color 0.5s ease-in;
				-o-transition: background-color 0.5s ease-out, color 0.5s ease-in;
				transition: background-color 0.5s ease-out, color 0.5s ease-in;
			}
		}
	}

	.my-pagination {
		display: flex;
		text-align: unset;
		margin-left: 30px;
		position: initial;

		.my-pagination-item {
			width: 8px;
			height: 8px;
			border-radius: 0;
			background-color: rgba(255, 255, 255, 0);
			border: 2px solid #ffffff;
			margin-right: 10px;
			transform: rotate(45deg);
		}

		.active-pagination {
			background: #ffffff;
		}
	}

	.main-display-content {
		background-size: cover;
		background-repeat: no-repeat;
		background-position-x: center;

		.logo {
			max-width: 133px;
			min-width: 100px;
			margin: 0 0 0 51px;
			box-sizing: border-box;
		}

		.main-wrapper {
			margin: 2% 0 0 0;
			box-sizing: border-box;
		}

		.main {
			&_title {
				font-size: 4rem;
				color: #ffffff;
				background: #d12030;
				height: 141px;
				border-top-left-radius: 10px;
				border-bottom-left-radius: 10px;
				line-height: 141px;
				text-align: center;
			}
		}
	}
}

@media #{$retina_screen_laptops} {
	.main-display {
		.main-display-content {
			.main-wrapper {
				margin: 2% 0 0 0;
			}

			.main {
				&_title {
					font-size: 2.75rem;
					color: #ffffff;
					background: #d12030;
					height: 120px;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					line-height: 110px;
					text-align: center;
				}
			}
		}

		.bottom-menu {
			.box {
				.box-item {
					margin: 0 10px;
				}
			}

			.box_3 {
				.my-pagination {
					margin-left: 30px;
					.my-pagination-item {
						width: 6px;
						height: 6px;
					}
				}

				.menu {
					border-right: 1px solid #fff;
					// border-left: 1px solid #fff;

					.paragraph {
						padding: 0 36px;
						font-size: 0.75rem;
					}
				}

				.callback {
					padding-right: 10px;
					padding-left: 10px;

					.paragraph {
						font-size: 0.75rem;
					}
				}
			}

			.box_7 {
				.box-item {
					font-size: 0.75rem;
				}

				.button {
					margin-left: 10px;
				}
			}
		}
	}
}

@media #{$laptops} {
	.main-display {
		.main-display-content {
			.main-wrapper {
				margin: 2% 0 0 0;
			}

			.main {
				&_title {
					font-size: 2.75rem;
					color: #ffffff;
					background: #d12030;
					height: 120px;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					line-height: 110px;
					text-align: center;
				}
			}
		}

		.bottom-menu {
			.box {
				.box-item {
					margin: 0 10px;
				}
			}

			.box_3 {
				.my-pagination {
					margin-left: 30px;
					.my-pagination-item {
						width: 6px;
						height: 6px;
					}
				}

				.menu {
					border-right: 1px solid #fff;
					// border-left: 1px solid #fff;

					.paragraph {
						padding: 0 36px;
						font-size: 0.75rem;
					}
				}

				.callback {
					padding-right: 10px;
					padding-left: 10px;

					.paragraph {
						font-size: 0.75rem;
					}
				}
			}

			.box_7 {
				.box-item {
					font-size: 0.75rem;
				}

				.button {
					margin-left: 10px;
				}
			}
		}
	}
}

@media #{$laptops2} {
	.main-display {
		.main-display-content {
			.main-wrapper {
				margin: 2% 0 0 0;
			}

			.main {
				&_title {
					font-size: 2.5rem;
					color: #ffffff;
					background: #d12030;
					height: 120px;
					border-top-left-radius: 10px;
					border-bottom-left-radius: 10px;
					line-height: 110px;
					text-align: center;
				}
			}
		}

		.bottom-menu {
			.box {
				.box-item {
					margin: 0 10px;
				}
			}

			.box_3 {
				.my-pagination {
					margin-left: 30px;
					.my-pagination-item {
						width: 6px;
						height: 6px;
					}
				}

				.menu {
					border-right: 1px solid #fff;
					// border-left: 1px solid #fff;

					.paragraph {
						padding: 0 18px;
						font-size: 0.75rem;
					}
				}

				.callback {
					padding-right: 10px;
					padding-left: 10px;

					.paragraph {
						font-size: 0.75rem;
					}
				}
			}

			.box_7 {
				.box-item {
					font-size: 0.75rem;
				}

				.button {
					margin-left: 10px;
				}
			}
		}
	}
}

@media #{$tablet_screen} {
	.main-display {
		.banner {
			left: 26px;

			.banner-text {
				font-size: 1.75rem;
				width: 350px;
			}
		}

		.bottom-menu {
			width: 100%;
			height: 120px;
			left: 0;
			flex-direction: column;

			.box_3 {
				.my-pagination-item {
					width: 6px;
					height: 6px;
					margin-right: 6px;
				}

				.menu {
					border-right: 1px solid #fff;
					// border-left: 1px solid #fff;

					.paragraph {
						padding: 0 50px;
						font-size: 1rem;
					}
				}

				.callback {
					.paragraph {
						font-size: 1rem;
					}
				}
			}

			.box {
				height: 60px;

				&_3,
				&_7 {
					width: 100%;
				}

				.button {
					margin-left: 50px;
				}
			}
		}

		.main-display-content {
			position: relative;

			.main {
				&_title {
					font-size: 1.5rem;
					height: 100px;
					line-height: 90px;
					border-radius: 5px;
				}
			}

			.half {
				position: absolute;
				bottom: 150px;

				.logo {
					max-width: 133px;
					min-width: 100px;
					margin: 0;
					box-sizing: border-box;
				}
			}

			.main-logo {
				right: -220px;
			}

			.main-wrapper {
				margin: 0 0 40px 0;
				left: 37px;
			}
		}
	}
}

@media #{$phone_screens} {
	.main-display {
		.banner {
			display: none;
		}

		.main-display-content {
			.main-wrapper {
				margin: 4% 0 0 6% !important;

				.main {
					color: #fff;
				}
			}
			.half {
				width: 100%;
			}
			.logo {
				margin: 0 0 0 22px;
			}
		}

		.bottom-menu {
			width: 100%;
			height: 180px;
			left: 0;
			flex-direction: column;

			.box {
				&_3 {
					.my-pagination {
						margin-left: 20px;
						.my-pagination-item {
							width: 6px;
							height: 6px;
							margin-right: 6px;
						}
					}

					.menu {
						display: none;
					}

					.callback {
						.paragraph {
							font-size: 0.75rem;
						}
						.arrow {
							padding-left: 20px;
						}
					}

					width: 100%;
					height: 60px;
				}

				&_7 {
					width: 100%;
					height: 120px;
					flex-wrap: wrap;
					:nth-child(2) {
						width: 100%;
					}
				}

				.box-item {
					&_xs {
						width: 100%;
					}
				}

				.button {
					margin-left: 20px;
				}
			}
		}

		.swiper-slide {
			.flex {
				flex-direction: column;

				.main-wrapper {
					margin: 20% 0 0 6%;

					.main {
						&_title {
							font-size: 1.25rem;
							height: 90px;
							line-height: 90px;
						}
					}
				}
			}
		}
	}
}

@media #{$tablet_landscape} {
	.main-display {
		.banner {
			left: 26px;

			.banner-text {
				font-size: 1.75rem;
				width: 350px;
			}
		}

		.bottom-menu {
			width: 100%;
			height: 120px;
			left: 0;
			flex-direction: column;

			.box_3 {
				.my-pagination-item {
					width: 6px;
					height: 6px;
					margin-right: 6px;
				}

				.menu {
					border-right: 1px solid #fff;
					// border-left: 1px solid #fff;

					.paragraph {
						padding: 0 10px;
						font-size: 1rem;
					}
				}

				.callback {
					.paragraph {
						font-size: 1rem;
					}
				}
			}

			.box {
				height: 60px;

				&_3,
				&_7 {
					width: 100%;
				}

				.button {
					margin-left: 50px;
				}
			}
		}

		.main-display-content {
			position: relative;

			.main {
				&_title {
					font-size: 1.5rem;
					height: 100px;
					line-height: 90px;
					border-radius: 5px;
				}
			}

			.half {
				position: absolute;
				bottom: 150px;

				.logo {
					max-width: 133px;
					min-width: 100px;
					margin: 0;
					box-sizing: border-box;
				}
			}

			.main-logo {
				right: -220px;
			}

			.main-wrapper {
				margin: 0 0 40px 0;
				left: 37px;
			}
		}
	}
}

@media #{$phone_screens2} {
	.main-display {
		.banner {
			display: none;
		}

		.main-display-content {
			.main-wrapper {
				margin: 4% 0 0 6% !important;

				.main {
					color: #fff;
				}
			}
			.half {
				width: 100%;
			}
			.logo {
				margin: 0 0 0 22px;
			}
		}

		.bottom-menu {
			width: 100%;
			height: 180px;
			left: 0;
			flex-direction: column;

			.box {
				&_3 {
					.my-pagination {
						margin-left: 20px;
						.my-pagination-item {
							width: 6px;
							height: 6px;
							margin-right: 6px;
						}
					}

					.menu {
						display: none;
					}

					.callback {
						.paragraph {
							font-size: 0.75rem;
						}
						.arrow {
							padding-left: 20px;
						}
					}

					width: 100%;
					height: 60px;
				}

				&_7 {
					width: 100%;
					height: 120px;
					flex-wrap: wrap;
					:nth-child(2) {
						width: 100%;
					}
				}

				.box-item {
					&_xs {
						width: 100%;
					}
				}

				.button {
					margin-left: 20px;
				}
			}
		}

		.swiper-slide {
			.flex {
				flex-direction: column;

				.main-wrapper {
					margin: 20% 0 0 6%;

					.main {
						&_title {
							font-size: 1.25rem;
							height: 90px;
							line-height: 90px;
						}
					}
				}
			}
		}
	}
}
