<template>
    <div class="slider-page2">
         <swiper :options="swiperOption3" class="swiper-slide2">
            <swiper-slide class="slide2" v-for="(item, index) in items" :key="index">
                <img :src="item.src" alt="">
            </swiper-slide>
            <!-- <div class="swiper-pagination swiper-pagination-white" slot="pagination"></div> -->
            <div class="swiper-button-prev slider-button" slot="button-prev"></div>
            <div class="swiper-button-next slider-button" slot="button-next"></div>
        </swiper>
    </div>
</template>
<script>

export default {
    data() {
      return {
          items: [
              {src: './static/slider-img/slide1.png'},
              {src: './static/slider-img/slide2.png'},
              {src: './static/slider-img/slide3.png'},
          ],
        swiperOption3: {
            autoplay: {
                disableOnInteraction: false,
                delay: 4800,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev'
            }
        }
      }
    }
}
</script>
<style>
.swiper-pagination-bullet{
    height: 15px !important;
    width: 15px !important;
    opacity: .7 !important;
}
.swiper-pagination-bullet-active{
    opacity: 1 !important;
}
.slider-page2 {
    height: 843px !important;
}

.swiper-slide2{
   width: 1700px !important;
}
.slide2{
    height: 843px !important;
}
.slide2 img{
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, 0) !important;
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{
    background-image: url('/static/svg/swiper-next-button.svg') !important; 
    right: 10px !important;
    left: auto !important;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{
    background-image: url('/static/svg/swiper-prev-button.svg') !important;
    left: 10px !important;
    right: auto !important;
}
/* Media */
@media only screen /* Mobile */ and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .slider-page2 {
        height: 423px !important;
    }
    
    .swiper-slide2{
        width: 280px !important;
    }
    .slide2{
        height: 423px !important;
    }
    .slide2 img{
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        transform: translate(0) !important;
    }
    .swiper-button-prev{
        display: none !important;
    }
    .swiper-button-next{
        display: none !important;
    }
}
@media only screen /* => Mobile */ and (min-width: 480px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2) {
    .slider-page2 {
        height: 600px !important;
    }
    .swiper-slide2{
        width: 430px !important;
    }
    .slide2{
        height: 600px !important;
    }
    .slide2 img{
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        transform: translate(0) !important;
    }
    .swiper-button-prev{
        display: none !important;
    }
    .swiper-button-next{
        display: none !important;
    }
}
@media screen /* Tablet */ and (min-width: 768px) and (max-width: 1199px) and (-webkit-min-device-pixel-ratio: 1) {
    .slider-page2 {
        height: 800px !important;
    }
    .swiper-slide2{
        width: 530px !important;
    }
    .slide2{
        height: 800px !important;
    }
    .slide2 img{
        object-fit: cover !important;
        width: 100% !important;
        height: 100% !important;
        left: 0 !important;
        transform: translate(0) !important;
    }
    .swiper-button-prev{
        display: none !important;
    }
    .swiper-button-next{
        display: none !important;
    }
}
@media screen and (min-width: 1200px) and (max-width: 1375px) and (-webkit-min-device-pixel-ratio: 1) {
    .slider-page2 {
        height: 500px !important;
    }
    .swiper-slide2{
        width: 1200px !important;
    }
    .slide2{
        height: 500px !important; 
    }
    .slide2 img{
        width: 1000px !important;
        position: absolute !important;
        left: 50% !important;
        transform: translate(-50%, 0) !important;
    }
}
@media screen /* => Tablet */ and (min-width: 1376px) and (max-width: 1919px) and (-webkit-min-device-pixel-ratio: 1) {
    .slider-page2 {
        height: 607px !important;
    }
    .swiper-slide2{
        width: 1300px !important;
    }
    .slide2{
        height: 607px !important;
    }
    .slide2 img{
        width: 1200px !important;
        position: absolute !important;
        left: 50% !important; 
        transform: translate(-50%, 0) !important;
    }
}
</style>
